<template>
    <base-quiz/>
</template>
<script lang="js">
    import BaseQuiz from "@main/vue/components/BaseQuizComponent/BaseQuiz";
    export default {
        name: "Quiz",
        components: {BaseQuiz}
    };
</script>
