/* анимации */

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-in-right {
	animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}
.slide-out-right {
	animation: slide-out-right 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}
.slide-in-left {
	animation: slide-in-left 0.25s linear both;
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}
.slide-out-left {
	animation: slide-out-left 0.25s linear both;
}

@keyframes max-height-out {
    0% {
        max-height: 800px;
    }
    100% {
        max-height: 0px;
    }
}
.max-height-out {
	animation: max-height-out 0.4s ease-out both;
}

@keyframes max-height-in {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 800px;
    }
}
.max-height-in {
	animation: max-height-in 0.4s ease-in both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
	animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-delay {
	animation: fade-in 0.25s 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-in-400 {
	animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fade-out {
	animation: fade-out 0.25s ease-out both;
}

@keyframes shadow-on {
    0% {
        box-shadow: 0px 6px 17px rgba(34, 60, 80, 0.0);
    }
    100% {
        box-shadow: 0px 6px 17px rgba(34, 60, 80, 0.2);
    }
}
.shadow-on{
    animation: shadow-on 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes shadow-of {
    0% {
        box-shadow: 0px 6px 17px rgba(34, 60, 80, 0.2);
    }
    100% {
        box-shadow: 0px 6px 17px rgba(34, 60, 80, 0.0);
    }
}
.shadow-of {
	animation: shadow-of 0.25s ease-out both;
}

.width {
    @include css_anim_entrance(width);
}

@keyframes width {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


