// Здесь необходимо расположить базовые стили. Например для тегов: html, body, h1, h2, button и т.д.
// Служебные стили (напр. ".hidden") так же должны располагаться здесь, чтобы не создавать кашу с остальными стилями.

*, *:before, *:after {
    box-sizing: border-box;
    outline: none !important;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    

    &:hover {
        outline: none;
    }
}

html, body {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.02em;
    background-color: $bg-color;
    color: $black-basic;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;    
    -webkit-overflow-scrolling : touch !important;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.auth {
        align-items: center;
    }
}

main {
    flex-grow:1;
    z-index: 1;
}

html {
    height: 100%;

    &.menu-opened,
    &.modal-opened {
        overflow: hidden;

        body {
            overflow: hidden;
        }
    }
}

ul {
    padding: 0;
	margin: 0;
}

[v-cloak] {
    display: none;
}

.hidden {
    display: none !important;
}

.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
	pointer-events: none;
}

.hidden-mobile {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.hidden-tablet {
    @media (max-width: 1079px) {
        display: none !important;
    }
}

.hidden-desktop {
    @media (max-width: 1439px) {
        display: none !important;
    }
}

.hidden-md {
    @media (min-width: $md) {
        display: none !important;
    }
}

.hidden-lg {
    @media (min-width: $lg) {
        display: none !important;
    }
}

.hidden-xl {
    @media (min-width: 1249px) {
        display: none !important;
    }
}

h1, .h1, .section-title {

    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

h2, .h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
}

h3{
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
}

p, .p{
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.opacity {
    opacity: 0;
}

.table {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.fw-700 {
    font-weight: 700;
}

.blue {
    color: $blue-basic;
}

.color-red {
    color: $accent-color;
}

.cursor-pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.d-flex-w-space-between {
    justify-content: space-between;
}

.d-flex-w-center {
    justify-content: center;
}
.d-flex-w-spase-between {
    justify-content: space-between;
}

.d-flex-w-end {
    justify-content: flex-end;
}

.d-flex-h-center {
    align-items: center;
}

.d-flex-h-end {
    align-items:flex-end;
}

.d-flex-wrap {
    flex-wrap: wrap;
}
.align-self-fe-lg{
    @media(min-width: $lg) { align-self: flex-end;}
    
}
.w-320 {
    min-width: 320px;
}

.mlp-40 {
    margin-left: 40px;
}
.mrp-40 {
    margin-right: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.font-bebas-neue {
    font-family: "BebasNeue", sans-serif;
}

.w-45 {
    width: 45%;
}

.w-47 {
    width: 100%;
    @media(min-width: $md) { width: 47%;}
}

.w-60 {
    width: 60%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.prp-20 {
    padding-right: 20%;
}

.plp-20 {
    padding-left: 20%;
}


.w-100 {
    width: 100%;
}
//  после md  в  column
.d-flex-md-column{ 
    @media(max-width: $md) {
        flex-wrap: wrap;
    }
}

.ui-input {
    &-border {
        padding: 20px 15px 15px;
        text-align: center;
        background: $white-basic;
        border: 1px solid $gray-basic;
        box-sizing: border-box;
        width: 170px;
        min-height: 67px;
    }
}

input[disabled] {
    background: $gray-basic;
}
.ui-label {

}

.ui-textareat {
    width: 100%;
    min-height: 150px;
    background: $white-basic;
    border: 1px solid $gray-basic;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: $black-basic;
    padding: 25px 40px;
    &::placeholder {
        color: $gray-input;
    }
}
//preloader
#preloader {
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 99999;
    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preloader.hid {
    opacity: 0;
    visibility: hidden;
}
#preloader table{
    width: 100%;
    height: 100%;
}
#preloader table td{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.load8 .loader {
    margin: 60px auto;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0,72,127, 0.2);
    border-right: 1.1em solid rgba(0,72,127, 0.2);
    border-bottom: 1.1em solid rgba(0,72,127, 0.2);
    border-left: 1.1em solid #414141;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.load8 .loader,
.load8 .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.alert-error {
    padding: 15px;
    border: 1px solid #ff8b8b;
    border-radius: 4px;
    color: #bf0033;
    background-color: #ffcece;
}
.alert-success {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media(min-width: $md) {

    .main {
        padding-left:76px;
    }

    html {

        &.menu-opened {
            overflow: unset;

            body {
                overflow: unset !important;
                position: static !important;
            }
        }
    }

    h3{
        font-size: 70px;
        line-height: 84px;
    }

    p, .p{
        font-size: 20px;
    }
}

@media(min-width: $lg) {

    h1, .h1, .section-title {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }

    h2, .h2 {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.01em;
    }

    h3{
        font-size: 90px;
        line-height: 108px;
    }
    
}








