.contact-form{
    display: flex;
    max-width: 1160px;

    &_in-row{
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        justify-content: space-between;
        @media(min-width: $xl) {

            &{
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &_in-column{
        flex-direction: column;
    }

    &__inputs{
        display: flex;
        height: min-content;

        &_in-row{
        width: 100%;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;

        @media(min-width: $md) {

            &{
                flex-direction: row;
                gap: 30px;
            }
        }

        @media(min-width: $xl) {

            &{
                width: 870px;
                gap: 90px;
            }
        }
    }

        &_in-column{
            flex-direction: column;
        }
    }

}