.container {
    // position: relative;
    width: 100%;
    padding: 0 16px;
    // box-sizing: content-box;

    @media(min-width: $md){
        padding: 0 32px ;
    }

    @media(min-width: $lg){
        padding: 0 50px;
        max-width: $maxWidth;
        margin: 0 auto;
    }

    @media(min-width: $xl){
        padding: 0 72px;
        max-width: $maxWidth;
        margin: 0 auto;
    }


    &-paddings{
        @media(max-width: $sm){
            padding: 0 16px;
        }
    }

    &-off{
        @media(max-width: $sm){
            padding: 0 0!important;
        }
    }

    &-abstract{
        position: fixed;
        z-index: 0;
        left: 0;
        right: 0;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        height:100%;
        
        &__line{
            display: inline-block;
            height: 100%;
            width: 1px;
            // background-color: $gray-light;
            background-color: $gray-light;

            &-margin{

                margin-left: 30px;
                @media(max-width: $xl){
                    margin-left: 0px;
                }
            }
        }
    }
    

    
}






