.contact{
    &__information{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
.phone{
    display: flex;


    &_row{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        @media(max-width: $sm) {
    
            &{
                flex-direction: column;
            }
        }

    }

    &_column{
        flex-direction: column;
    }

    
    
    
    // gap: 10px 48px;

    &__time{
        margin-left: 45px;

        @media(min-width: $md) {
    
            &{
                margin-left: 45px;
            }
        }
    }
    &__number{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;

        &::before{
            content: '';
            display: inline-block;
            height: 25px;
            width: 25px;
            margin-right: 20px;
            background-image: url("#{$imgPath}/svg/phone-icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.mail{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    &::before{
        content: '';
        display: inline-block;
        height: 20px;
        width: 25px;
        margin-right: 20px;
        background-image: url("#{$imgPath}/svg/email-icon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}