fieldset {
    border-radius: 6px;
    border: 1px solid $black-basic;
    margin: 24px auto;
    padding: 24px;
}

// .input-wrap {
//     @include css_anim();
//     position: relative;
//     width: 100%;

//     &.disabled,
//     &[disabled] {
//         user-select: none;
//         pointer-events: none;
//         cursor: default;

//         label {

//             &:before {
//                 opacity: 0.3;
//             }
//         }
//     }

//     input {
//         border-radius: 0px;
//     }

//     &-checkbox {

//         input {
//             width: 0;
//             height: 0;
//             overflow: hidden;
//             border: none;
//             outline: none;
//             position: absolute;
//             transform: scale(0);
//         }

//         label {
//             cursor: pointer;
//             display: inline-flex;
//             align-items: center;
//             column-gap: 12px;

//             &:before {
//                 content: "";
//                 display: block;
//                 width: 20px;
//                 height: 20px;
//                 background-image: url("#{$imgPath}svg/check.svg");
//                 background-repeat: no-repeat;
//                 background-position: center center;
//                 background-size: 12px;
//                 border: 1px solid $black-basic;
//                 border-radius: 4px;
//                 @include css_anim();
//             }
//         }

//         input:checked{

//             +label{

//                 &:before {
//                     border: 1px solid $blue-basic;
//                     background-color: $blue-basic;
//                 }
//             }
//         }

//         input:disabled {

//             +label {
//                 color: $black-basic;
//                 cursor: default;
//                 user-select: none;

//                 &:before {
//                     opacity: 0.3;
//                 }
//             }
//         }
//     }

//     &-radio-checkbox {

//         input {
//             width: 0;
//             height: 0;
//             overflow: hidden;
//             border: none;
//             outline: none;
//             position: absolute;
//             transform: scale(0);
//         }

//         label {
//             cursor: pointer;
//             display: inline-flex;
//             align-items: center;
//             column-gap: 12px;

//             &:before {
//                 content: "";
//                 display: block;
//                 width: 24px;
//                 height: 24px;
//                 background-image: url("#{$imgPath}svg/check.svg");
//                 background-repeat: no-repeat;
//                 background-position: center center;
//                 background-size: 12px;
//                 border: 1px solid $black-basic;
//                 border-radius: 50%;
//                 @include css_anim();
//             }
//         }

//         input:checked{

//             +label{

//                 &:before {
//                     border: 1px solid $blue-basic;
//                     background-color: $blue-basic;
//                 }
//             }
//         }

//         input:disabled {

//             +label {
//                 color: $black-basic;
//                 cursor: default;
//                 user-select: none;

//                 &:before {
//                     opacity: 0.3;
//                 }
//             }
//         }
//     }

//     &-radio {

//         input {
//             width: 0;
//             height: 0;
//             overflow: hidden;
//             border: none;
//             outline: none;
//             position: absolute;
//             transform: scale(0);
//         }

//         label {
//             cursor: pointer;
//             display: inline-flex;
//             align-items: center;
//             column-gap: 12px;

//             &:before {
//                 content: "";
//                 display: block;
//                 width: 20px;
//                 height: 20px;
//                 background-repeat: no-repeat;
//                 background-position: center center;
//                 background-size: 14px;
//                 border: 1px solid $black-basic;
//                 border-radius: 50%;
//                 @include css_anim();
//             }
//         }

//         input:checked{

//             +label{

//                 &:before {
//                     border: 1px solid $blue-basic;
//                     background-image: url("#{$imgPath}svg/check_radio.svg");
//                 }
//             }
//         }

//         input:disabled {

//             +label {
//                 color: $black-basic;
//                 cursor: default;
//                 user-select: none;

//                 &:before {
//                     opacity: 0.3;
//                 }
//             }
//         }
//     }

//     &-text,
//     &-textarea {
//         display: inline-block;
//         position: relative;

//         &__svg {
//             width: 16px;
//             height: 16px;
//             color: $black-basic;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             right: 20px;
//             margin: auto;
//         }

//         &_svg {

//             input {
//                 padding-right: 40px;
//             }
//         }

//         &.disabled,
//         &[disabled] {
//             user-select: auto;
//             pointer-events: auto;
//             cursor: auto;

//             input,
//             textarea {
//                 color: $black-50;
//                 background: $white-50;
//                 user-select: none;
//                 pointer-events: none;
//                 cursor: default;
//             }
//             label {
//                 pointer-events: none;
//                 color: $black-20;
//             }
//         }

//         label {
//             font-size: 11px;
//             line-height: 16px;
//             letter-spacing: -0.01em;
//             color: $black-50;
//             display: inline-block;
//             position: absolute;
//             top: 10px;
//             left: 16px;
//             width: calc(100% - 32px);
//             overflow: hidden;
//             white-space: nowrap;
//             text-overflow: ellipsis;
//             opacity: 0;
//             z-index: -1;
//         }

//         input,textarea {
//             border: 1px solid $black-15;
//             border-radius: 6px;
//             color: $black-basic;
//             padding: 19px 16px;
//             font-weight: 500;
//             font-size: 16px;
//             font-family: $mainFont;
//             line-height: 18px;
//             letter-spacing: -0.01em;
//             width: 100%;
//             resize: none;
//             appearance: none;
//             -moz-appearance: none;
//             -webkit-appearance: none;
//             transform: translate(0,0,0);

//             &::placeholder {
//                 color: $black-50;
//                 width: 100%;
//             }

//             &:focus,
//             &.filled {
//                 padding: 28px 16px 11px;

//                 &::placeholder {
//                     opacity: 0;
//                 }

//                 +label {
//                     opacity: 1;
//                     z-index: 1;
//                 }
//             }
//         }

//         input {
//             height: 56px;
//             text-overflow: ellipsis;
//             overflow: hidden;
//             white-space: nowrap;
//         }

//         .helper {
//             font-size: 14px;
//             line-height: 16px;
//             letter-spacing: -0.01em;
//             color: $black-60;
//             margin: 12px 16px 0;
//         }

//         .error {
//             display: none;
//             font-size: 14px;
//             line-height: 16px;
//             letter-spacing: -0.01em;
//             margin: 12px 16px 0;
//             color: $red;
//             @include css_anim();
//         }

//         &.input-error {

//             input {
//                 border: 1px solid $red;
//             }

//             .error {
//                 display: block;
//             }
//         }
//     }

//     &-text {

//         &.input-wrap--code {

//             input {

//                 &::-webkit-outer-spin-button,
//                 &::-webkit-inner-spin-button {
//                     -webkit-appearance: none;
//                     margin: 0;
//                 }

//                 &[type=number] {
//                     -moz-appearance: textfield;
//                 }

//                 &::placeholder {
//                     font-size: 16px;
//                     font-weight: 500;
//                     letter-spacing: -0.01em;
//                 }

//                 &:focus,
//                 &:active,
//                 &.filled {
//                     font-size: 24px;
//                     line-height: 34px;
//                     padding: 10px;
//                     font-weight: normal;
//                     text-align: center;
//                     color: $black-50;
//                     letter-spacing: 0.18em;

//                     &::placeholder {
//                         font-size: 16px;
//                         font-weight: 500;
//                         letter-spacing: -0.01em;
//                     }
//                 }
//             }
//         }
//     }

//     &-textarea {

//         label {
//             top: 1px;
//             padding-top: 9px;
//             background: $white-basic;
//         }

//         textarea {
//             height: 140px;
//             @include scrollbar();
//         }
//     }

//     &-date {

//         input {
//             transform: translate(0,0,0);
//             cursor: pointer;
//             background-image: url("#{$imgPath}svg/calendar.svg");
//             background-repeat: no-repeat;
//             background-size: 24px;
//             background-position: right 16px center;
//             height: 60px;
//             padding-right: 45px;

//             +label {
//                 width: calc(100% - 116px);
//             }
//         }        
//     }

//     &-search {
//         display: inline-block;
//         position: relative;

//         input {
//             border: 2px solid $black-basic;
//             border-radius: 3px;
//             padding: 15px 36px 15px 20px;
//             font-size: 14px;
//             line-height: 135%;
//             color: $black-basic;
//             width: 100%;
//             background: transparent;
//             @include css_anim();

//             &::placeholder {
//                 color: $black-basic;
//             }

//             &:hover,
//             &:focus {
//                 border: 2px solid $black-basic;

//                 +button {
//                     svg {
//                         color: $black-basic;
//                     }
//                 }
//             }

//             &.no-placeholder {

//                 &::placeholder {
//                     opacity: 0;
//                 }
//             }
//         }

//         &-button {
//             position: absolute;
//             width: 20px;
//             height: 20px;
//             right: 16px;
//             bottom: 15px;
//             background: transparent;
//             padding: 0;
//             font-size: 0;
//             line-height: 0;

//             svg {
//                 width: 20px;
//                 height: 20px;
//                 color: $black-basic;
//                 @include css_anim();
//             }
//         }

//     }

//     &-file {
//         width: 170px;
//         height: 100px;
//         position: relative;
//         // background: url("#{$imgPath}svg/upload.svg") no-repeat center 30px;
//         @include css_anim($time: 2s, $item: border-color);

//         input {
//             width: 0.1px;
//             height: 0.1px;
//             opacity: 0;
//             overflow: hidden;
//             position: absolute;
//             z-index: -1;
//         }

//         label {
//             font-size: 14px;
//             line-height: 22px;
//             color: $black-basic;
//             cursor: pointer;
//             width: 100%;
//             height: 100%;
//             padding: 20px 12px;
//             position: absolute;
//             top: 0;
//             left: 0;
//             display: flex;
//             align-items: flex-end;
//             justify-content: center;
//             z-index:1;
//             @include css_anim();
//         }

//         &__placeholder {
//             font-size: 14px;
//             line-height: 135%;
//             position: absolute;
//             top: 30px;
//             text-align: center;
//             right: 0;
//             left: 0;
//             margin: auto;
//             color: $black-basic;
//             opacity: 0;
//         }

//         &__border {
//             width: 100%;
//             height: 100%;
//             fill: none;
//             stroke: $black-basic;
//             stroke-width: 2px;
//             stroke-dasharray: 3px 3px;
//             @include css_anim();

//             rect {
//                 width: 100%;
//                 height: 100%;
//             }
//         }

//         &:hover,
//         &:focus,
//         &.active {

//             label {
//                 color: $black-basic;
//             }

//             .input-wrap-file__border {
//                 stroke: $black-basic;
//                 stroke-dasharray: 8px 0;
//             }
//         }

//         &.active {
//             background: none;

//             label {
//                 transition: none;
//             }

//             .input-wrap-file__text {
//                 max-width: 100%;
//                 white-space: nowrap;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//             }

//             .input-wrap-file__placeholder {
//                 opacity: 1;
//             }
//         }
//     }
// }

.select-wrap {
    position: relative;

    &__btn {
        @include css_anim();
        z-index: 11;
        width: 100%;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.01em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 16px;
        height: 56px;
        border: 1px solid $black-15;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        background: $white-basic;

        &-label {
            position: absolute;
            top: 19px;
            left: 16px;
            margin: auto;
            color: $black-50;
            width: calc(100% - 70px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @include css_anim();
        }

        &-text {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &--white-bg {
            background-color: $white-basic;
        }
    }

    &__arrow {
        @include css_anim();
        position: absolute;
        right: 16px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin-left: 12px;
        color: $black-basic;
    }

    &__dropdown {
        list-style: none;
        max-height: calc(1000px - 14px);
        overflow: auto;
        @include scrollbar();

        &-wrap {
            z-index: -1;
            position: absolute;
            top: calc(100% - 2px);
            background: $white-basic;
            border-bottom: 1px solid $black-15;
            border-left: 1px solid $black-15;
            border-right: 1px solid $black-15;
            border-radius: 0px 0px 6px 6px;
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            opacity: 0;
            box-shadow: 0px 0px 4px rgba(111, 111, 111, 0.06), 0px 8px 24px rgba(111, 111, 111, 0.12);
            @include css_anim();
        }

        li {

            button,
            .button {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: $black-basic;
                padding: 19px 16px;
                text-align: left;
                cursor: pointer;
                background: $white-basic;
                border-top: 1px solid $black-15;
                @include css_anim();

                &:hover {
                    background: $black-15;
                }
            }

        }
    }

    &.open {

        .select-wrap {

            &__arrow {
                transform: scale(1, -1);
            }

            &__btn {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;                
            }

            &__dropdown-wrap {
                z-index: 10;
                max-height: 1000px;
                opacity: 1;
            }
        }
    }

    &.selected {

        .select-wrap__btn {
            padding: 28px 16px 11px;

            &-label {
                font-weight: normal;
                font-size: 11px;
                line-height: 16px;
                top: 10px;
                left: 16px;
            }
        }
    }

    &.disabled,
    [disabled] {

        .select-wrap {

            &__btn {
                color: $black-20;
                pointer-events: none;
            }

            &__arrow {
                color: $black-20;
            }
        }
    }
}

// .btn {
//     cursor: pointer;
//     width: max-content;
//     display: inline-flex;
//     column-gap: 8px;
//     align-items: center;
//     justify-content: center;
//     border-radius: 24px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 18px;
//     letter-spacing: -0.01em;
//     min-height: 44px;
//     padding: 10px 20px;
//     @include css_anim();

//     svg {
//         width: 24px;
//         height: 24px;
//     }

//     &:hover {
//         box-shadow: inset 0px 900px 0px rgba(255, 255, 255, 0.2);
//     }

//     &:active {
//         box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
//     }

//     &-type1 {
//         color: $white-basic;
//         background: $black-basic;
//     }

//     &-type2 {
//         color: $white-basic;
//         background: $blue-basic;
//     }

//     &-type3 {
//         color: $black-basic;
//         background: $yellow-basic;
//     }

//     &-type4 {
//         color: $black-basic;
//         background: $black-05;
//     }

//     &-type5 {
//         color: $black-basic;
//         background: $white-basic;
//         border: 1px solid $gray-basic;
//     }

//     &-type6 {
//         color: $black-basic;
//         background: $white-basic;
//     }

//     &-icon {
//         width: 44px;
//         height: 44px;
//         padding: 0;

//         &-sm {
//             width: 40px;
//             height: 40px;
//             padding: 0;
//         }

//         &-lg {
//             width: 48px;
//             height: 48px;
//             padding: 0;
//         }

//         &-xl {
//             width: 56px;
//             height: 56px;
//             padding: 0;
//         }
//     }

//     &-xs {
//         font-size: 14px;
//         line-height: 16px;
//         padding: 7px 16px;
//         border-radius: 22px;
//         min-height: 30px;
//     }

//     &-sm {
//         padding: 8px 16px;
//         border-radius: 22px;
//         min-height: 40px;
//     }

//     &-lg {
//         padding: 11px 24px;
//         border-radius: 26px;
//         min-height: 48px;
//     }

//     &-xl {
//         padding: 15px 28px;
//         border-radius: 28px;
//         min-height: 56px;
//     }

//     &[disabled],
//     &.disabled {
//         user-select: none;
//         pointer-events: none;
//         cursor: default;
//         opacity: 0.3;
//     }
// }
::-webkit-input-placeholder { /* WebKit browsers */
    color:    $gray-input;

    &:focus{
        color: $blue-basic;
    }
 }

.input{
    width: 100%;
    border-bottom: 1px solid $gray-input;
    padding: 24px 0;
    color: $black-basic;
    border-radius:0%;
    font-size: 18px;

    &:focus{
        border-bottom: 1px solid $blue-basic;
    }

    &-error{
        color: $accent-color;
    }

    @media(min-width: $sm) {

        &{
            font-size: 20px;
        }
    
    }
}

.btn{
    cursor: pointer;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 16px;
    @media(min-width: $sm) {

        &{
            font-size: 20px;
        }
    
    }
}


//wraper

.flex{
    
    &-row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        

        &__component-33{
            display: inline-block;
            width: 100%; 
            margin: 0 0;

            @media(min-width: $md) {

                &{
                    width: 50%;
                }
            
            }
            
            @media(min-width: $xl) {
            
                &{
                    width: 33.3%;
                } 
            }
        }
        &__component-30{
            display: inline-block;
            width: 99%; 
            margin: 0 0;

            @media(min-width: $md) {

                &{
                    width: 49%;
                }
            
            }
            
            @media(min-width: $lg) {
            
                &{
                    width: 32.3%;
                } 
            }
        }
    }
    
    &-column{
        display: flex;
        flex-direction: column;
    }

    &-just-space-between{
        justify-content: space-between;
    }

}






// styles for headings \text


.main-heading{
    font-family: $headingFont;
    color: $blue-basic;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    margin-left: -2px;
    @media(min-width: $sm) {
    
        &{
            font-size: 90px;
            line-height: 108px;
        }
    
    }
    
    @media(min-width: $md) {

        &{
            font-size: 90px;
            line-height: 108px;
        }
    }

    @media(min-width: $lg) {

        &{
            font-size: 90px;
            line-height: 108px;
        }
    }

    @media(min-width: $xl) {

        &{
            font-size: 115px;
            line-height: 100%;
        }
    }

    
}

.block-heading{
    text-transform: uppercase;
    color: $blue-basic;
    font-family: $headingFont;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    margin-left: -2px;
  
    
    @media(min-width: $sm1) {

        &{
            font-size: 70px;
            line-height: 84px;
        }
    }

    @media(min-width: $lg) {

        &{
            font-size: 90px;
            line-height: 108px;
        }
    }
    
 
    

    &_double-heading{
        color: $black-basic;
        padding-left: 5%;
        margin-top: -5px;

        @media(min-width: $sm) {

            &{
                margin-top: -10px;
                padding-left: 7%;
            }
        
        
        }

        @media(min-width: $xl) {

            &{
                padding-left: 15%;
                margin-top: -15px;
            }
        
        
        }

        &_hide-paddings{
            @media only screen and (max-width: 805px) {
                &{
                    padding-left: 0;
                }
            
            }
        }

    }

    
}

.block-header{
    font-family: $headingFont;
    margin-bottom: 38px ;

    @media(min-width: $sm) {

        &{
            margin-bottom: 53px ;
        }
    
    }

    @media(min-width: $md) {

        &{
            margin-bottom: 58px ;
        }
    
    }
    
    @media(min-width: $lg) {
    
        &{
            margin-bottom: 50px ;
        } 
    }
}
.component__heading{
    display: inline-block;
    width: fit-content;
    font-family: $headingFont;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    line-height: 110%;
    color: $blue-basic;
    /* width: max-content;
    height: max-content; */

    @media(min-width: $md) {

        &{
            font-size: 40px;
            line-height: 110%;
        }
    
    }
    
    @media(min-width: $lg) {
    
        &{
            font-size: 40px;
            line-height: 110%;
        } 
    }
}

.card__heading{

    font-family: $headingFont;
    color: $blue-basic;
    text-transform: uppercase;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.text-color_black{
    color: $black-basic!important;
}

.text-color_grey{
    color: $gray-input!important;
}

.text-color_accent{
    color: $accent-color!important;
}

.heading_70{
    font-family: $headingFont;
    color: $blue-basic;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    @media(max-width: $md){
        font-size: 40px;
        line-height: 44px;
    }
}

//buttons \links

.disp-inl-block{
    display: inline-block;
}
.btn-red{
    position: relative;
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    color: $white-basic;
    border-radius: 50%;
    transition:  all .1s ease-in;
    &:hover{
        background-color: $accent-color_active;
    }

    @media(max-width: $sm) {
    
        &{
            min-width: 110px;
            min-height: 110px;
            max-width: 110px;
            max-height: 110px;
        } 
    }


}

.btn-red-border{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    width: 140px;
    height: 140px;
    border: 1px solid $accent-color;
    color: $accent-color;
    border-radius: 50%;
    transition:  all .1s ease-in;
    &:hover{
        background-color: $accent-color_active;
        border: 1px solid $accent-color_active;
        color: $white-basic;
    }

    @media(max-width: $sm) {
    
        &{
            min-width: 110px;
            width: 110px;
            height: 110px;
        } 
    }
}

.btn-small {
    width: 90px;
    height: 90px;
}

.link{
    
    display: inline-block;
    width: fit-content;
    cursor: pointer;

    &-red{
        color: $accent-color;

        &:hover{
            color: $accent-color_active;
        }
        &_active{
            color: $accent-color_active;
        }

    }

    &-grey{
        font-weight: 300;
        // font-size: 20px;
        // line-height: 140%;
        color: $black-basic;

        &:hover{
            color: $blue-basic;
        }
        &_active{
            color: $blue-basic;
        }

    }
}

.link-with-arrow{
    font-weight: 500;
    // font-size: 20px;
    line-height: 140%;
   position: relative;
   margin-right: 40px;

   
   &:after{
       content: '';
       position: absolute;
       right: -40px;
       top: 50%;
       transform: translateY(-30%);
       width: 24px;
       height: 10px;

       background: url("#{$imgPath}/svg/arrow_right.svg");
       background-position: left;
       background-repeat: no-repeat;
       // add arrow
   
   }

}
//comon icons

.icon-cross {
    display: flex;
    position: relative;
    justify-content: center;
    width: 30px;
    height: 30px;

    &-20{
        display: flex;
        position: relative;
        justify-content: center;
        width: 20px;
        height: 20px;
    }


    &__top{
        display: inline-block;
        position: absolute;
        width: 2px;
        height: 100%;
        border-radius: 1px;
        background-color: $accent-color;
        transform: rotate(90deg);
    }
    &__bottom{
        display: inline-block;
        position: absolute;
        width: 2px;
        height: 100%;
        border-radius: 1px;
        background-color: $accent-color;
    }
}



.social-icon{
    height: 65px;
    width: 65px;
    display: inline-block;
    transform: translateY(0);
    transition: transform .1s ease-in;

    &_45{
        @media(max-width: $sm) {
    
            height: 45px;
            width: 45px;
        }
    }

    &:hover{
        transform: translateY(-5px) scale(1.1);
    }
}

.telegram{
    background: transparent url("#{$imgPath}/svg/telegram-icon.svg") 0 0 no-repeat;
    background-size: cover;
}

.instagram{
    background: transparent url("#{$imgPath}/svg/insta-icon.svg") 0 0 no-repeat;
    background-size: cover;
}

.whatsapp{
    background: transparent url("#{$imgPath}/svg/whatsapp-icon.svg") 0 0 no-repeat;
    background-size: cover;
}

.icon-lockation::before{
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    background:  url("#{$imgPath}/svg/map-pin.svg") ;
}



.icon-doc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &::before{
        content: '';
        display: inline-block;
        margin-right: 10px;
        min-width: 25px;
        min-height: 25px;
        max-height: 25px;
        background:  url("#{$imgPath}/svg/file-text.svg") ;
    }
    
}


//lists

.list{
    list-style: none;
    display: flex;
    gap: 15px;


    &_row{
        flex-direction: row;
    }
    
    &_column{
        flex-direction: column;
    }
    
    &__item{

        color: $black-basic;
        position: relative;
        margin-left: 30px;

        // &__text{
        //     display: inline-block;
        // }

        &::before{
            content: ""; /* Insert content that looks like bullets */
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $accent-color;
            left: -30px;
            top: 10px;
            
        }

        &_whith-header{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__header{
            color: $blue-basic;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;

            @media(min-width: $sm) {
    
                &{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 120%;
                }
            
            }
        }
    }
}


//logo

// .logo{
//     &_1{
//         display: none;

//         @media(min-width: $sm) {
    
//             &{
//                 display: inline-block;
//             }
//         }
//     }

//     &_2{
//         display: inline-block;

//         @media(min-width: $sm) {
    
//             &{
//                 display: none;
//             }
//         }
        
//     }
// }
//paddings

.block-paddings{
    
    padding: 76px 0px;

    @media(min-width: $sm) {
    
        &{
            padding: 76px 60px;
        }
    
    }

    @media(min-width: $md) {
    
        &{
            padding: 95px 60px;
        }
    
    }
    
    @media(min-width: $lg) {

        &{
            padding: 100px 80px;
        }
    }

}





.display{

    &-sm{
        &_after{
            @media(min-width: $sm) {
            
                &{
                    display: none!important;
                }
            
            }
        }

        &_before{
            
            @media(max-width: $sm) {
            
                &{
                    display: none!important;
                }
            
            }
        }

    }

    &-md{
        &_after{
            display: initial;

            @media(min-width: $md) {
            
                &{
                    display: none!important;
                }
            
            }
        }

        &_before{

            &-include{
                
                display: none!important;
                @media(min-width: $md) {
                    display: inherit!important;
                  
                }
                
                
            }
            

            @media(max-width: $md) {
            
                &{
                    display: none!important;
                }
            
            }
        }

    }

    &-lg{

        &_after{
            display: inherit;

            @media(min-width: $lg) {
            
                &{
                    display: none!important;
                }
            
            }
        }
        &_before{

            &-include{
                
                display: none!important;
                @media(min-width: $lg) {
                    display: inherit!important;
                  
                }
                
                
            }
            

            @media(max-width: $lg) {
            
                &{
                    display: none!important;
                }
            
            }
        }
    }

    &-xl{

        &-md{
            display: none;

            @media(max-width: $xl)and(min-width: $md){
            
                &{
                    display: initial;
                }
            
            }
        }

        &_after{


            @media(min-width: $xl) {
            
                &{
                    display: none!important;
                }
            
            }
        }

        &_before{
            // display: none;

            @media(max-width: $xl) {
            
                &{
                    display: none!important;
                }
            
            }
        }

    }

}

.text{

    &-nowrap{
        white-space: nowrap;
    }

    &-size{
        &_30{
            font-size: 18px;
            line-height: 140%!important;

            @media(min-width: $sm) {
            
                &{
                    font-size: 20px;
                }
            
            }

            @media(min-width: $lg1) {
            
                &{
                    font-size: 25px;
                }
            
            }
            
            @media(min-width: $xl1) {
            
                &{
                    font-size: 30px;
                }
            
            }
        }
    }
}

.text-in-btn{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.border{
    &_gray{
        border:1px solid $gray-basic;
    }
}

.gap{
    &-40{
        gap:40px;
    }
}

::-webkit-scrollbar {
    width: 0.30em;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-input;
    border-radius: 5px;
    border: 1px solid $bg-color;

}
