.footer{
    z-index: 1;
    margin-bottom: 36px;

    @media(min-width: $sm){
        font-size: 41px;
    }
    @media(min-width: $md){
        font-size: 54px;
    }
    @media(min-width: $lg){
        font-size: 74px;
    }

    font-size: 16px;
    color: $gray-input;
    @media(min-width: $sm){
        font-size: 20px;
    }
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media(min-width: $md){
            flex-direction: row;
            justify-content: space-between;
            gap: 100px;
        }
    }

    &__item{
        // flex:1;
    }
}