.header__bg-paddings{
    background-color: $bg-color;
    padding-top: 10px!important;
}
.header{

    &__logo{
        max-width: 118px;

        @media(min-width: $sm) {
    
            &{
                max-width: 148px;
            }
        
        }
    }
    
    &__fixed{
        position: fixed!important;
        z-index: 9999;
        width: 100%;
        // background-color: $bg-color;
        padding-top: 20px;
        padding-bottom: 10px;

        @media(min-width: $sm) {
    
            &{
                padding-top: 40px;
            }
        
        }
    

    }

    &__wrap{

        margin-bottom: 70px;
        @media(min-width: $sm) {
    
            &{
                margin-bottom: 80px;
            }
        
        }
    
        @media(min-width: $md) {
        
            &{
                margin-bottom: 103px;
            }
        
        }
        
        @media(min-width: $lg) {
    
            &{
                margin-bottom: 122px;
            }
        }
    }

    &__nav{
        &-wrap{
            margin-left: auto;
        }

        &-inner{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
        }        
    }
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    &-burger{
        cursor: pointer;
        display: inline-block;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(min-width: $xl) {
        
            &{
                display: none;
            }
        }

        &__item{
            margin: auto;
            width: 23px;
            height: 2px;
            border-radius: 1px;
            background-color: $black-basic;
        }


    }

    &-menu{
        display: none;

        @media(min-width: $xl) {
        
            &{
                display: inline-block;
            }
        }

        
    }
}

