.menu{
    

    &-nav{
        &__ul{
            &_row{
                max-width: 889px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                
            }
            &_column{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
            }
        }

        &__li{
            
            margin-right: 60px;

        }

        &_footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            
        }
    }

    &-modal{
        display: none;
        

        // margin-left: -60px;
        // position: absolute;
        &-bg{
            position: absolute!important;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0, .5);
            z-index: 500;
            
        }

        &__cross{
            cursor: pointer;
            transform: rotate(45deg);
            & span{
                background-color: $black-basic;
            }
        }

        &-wrap{
            position: absolute!important;
            top: 0;
            right: 0;
            background-color: $bg-color;
            z-index: 1000;
            width: 100%;
            
            @media(min-width: $sm) {
        
                &{
                    width: 511px;
                }
            }
        }

        &__inner{
            overflow-y: scroll;
            max-height: 100vh;
            padding: 38px 30px;
            padding-bottom: 90px;
            
            


            @media(min-width: $sm) {
        
                &{
                    padding: 50px 51px;
                }
            }
        }

        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-nav{
            &__li{
                font-family: $headingFont;
                font-size: 30px!important;
                line-height: 110%!important;
            }
        }

        &__contact-information{
            margin-top:  31px;

            @media(min-width: $sm) {
        
                &{
                    margin-top:  61px;
                }
            }
        }
        &__phone{
            display: none;

            @media(min-width: $sm) {
        
                &{
                    display: inline-block;
                }
            }
        }

        &__lang{
            margin: 26px 0;
            @media(min-width: $sm) {
        
                &{
                    margin: 40px 0;
                }
            }
        }
        
    }
    &-bottom{

        margin-bottom: 19px;

        @media(min-width: $sm) {
            
            &{
                margin-bottom: 52px;
            }
        
        }

        @media(min-width: $md) {
            
            &{
                margin-bottom: 52px;
            }
        
        }

        &__content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            
        }

        &__logo-links{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 38px;

            @media(min-width: $md) {
            
                &{
                    gap: 0px;
                }
            
            }

        }

        &__heading{
            margin-bottom: 38px;
        }

        &__logo{
            display: inline-block;
            max-width: 148px;

            margin-bottom: 36px;

            @media(max-width: $sm) {
            
                &{
                    display: none!important;
                }
            
            }
        }

        &__ul{
            @media(max-width: $md) {
            
                &{
                    width: 100%;
                }
            
            }
        }

        &__nav{
            gap: 20px;
            display: flex;
            // display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;


            @media(min-width: $md) {
        
                &{
                    justify-content:flex-start;
                    gap: 40px;
                    width: fit-content;
                }
            }
            @media(min-width: $lg) {
        
                &{
                    gap: 55px;
                }
            }
        }
    }
}
