.section{

    margin-bottom: 118px;

    @media(min-width: $sm) {
    
        &{
            margin-bottom: 180px;
        }
    
    }

    @media(min-width: $md) {
    
        &{
            margin-bottom: 200px;
        }
    
    }
    
    @media(min-width: $lg) {

        &{
            margin-bottom: 250px;
        }
    }
}