<template>
    <div class="quiz-variants d-flex d-flex-h-center quiz-mixed">
        <div class="d-flex d-flex-h-center quiz-mixed__value"
             :class="{'w-50': inputs.length > 1}">
            <div class="quiz-mixed__range d-flex d-flex-h-center"
                 v-for="({input, value}, idx) in inputs"
                 :style="{'margin-right':idx !== inputs.length - 1 ? '30px' : '0px'}"
                :key="`input-${idx}`"
            >
                <span class="label font-bebas-neue">{{value}}</span>
                <ui-input v-bind="{...input, isBorder: true, disabled: disable}"></ui-input>
            </div>
        </div>
        <ul class="w-100 plp-20 d-flex d-flex-h-center d-flex-w-end"
            ref="variants">
            <w-variant-item
                v-for="(item, idx) in variants"
                :key="`variants-${idx}`"
                v-bind="{
                    item, idx, oneLine: true
                }"
                @buildActiveVariant="buildActiveVariant"
            >
            </w-variant-item>
        </ul>
    </div>
</template>

<script>
    import UiInput from "@main/vue/components/FormComponent/compoments/ui-input";
    import VariantItem from "@main/vue/components/VariantComponent/components/VariantItem";

    export default {
        name: "Mixed",
        components: {UiInput, 'w-variant-item': VariantItem},
        props: {
            items: {
                type: Object
            }
        },
        data: () => ({ disable: false }),
        computed:  {
            variants() {
                return this.items.variants
            },
            inputs() {
                return this.items.inputs
            }
        },
        methods:{
            buildActiveVariant(variantIdx) {
                const {inputs: {length}, $refs: {variants}} = this
                // TODO убрать хак с таймаутом
                setTimeout(() => {
                    const {length: active} = [...variants.querySelectorAll('li')].filter((variant) => variant.classList.contains('variant-item-active'))

                    this.disable = Boolean(active)
                }, 0)

                this.$emit('buildActiveVariant', (length + variantIdx))
            }
        }
    }
</script>
