<template>
    <li
        class="variant-item component__heading variant-item-middle d-flex-w-center d-flex-h-center"
        @click="$emit('buildActiveVariant', variantIdx)"
        :class="[classVariant]"
        :style="styleWidthVariant"
    >

        <i v-if="iconClass" class="icon icon-quiz" :class="[iconClass]"></i>

        <span class="quiz-text">{{variantName}}</span>

        <i v-if="tooltip" ref="tooltip" class="icon icon-tooltip quiz-icon-abs js-tooltip" :data-tooltip="tooltip"></i>
    </li>
</template>

<script lang="ts">
    import Component from "vue-class-component";
    import {VariantProps, WIDTH_VARIANT_LINE_PERCENT, MARGIN_VARIANT_PERCENT} from "@main/vue/components/VariantComponent/components/props";
    import {Tooltip} from "@main/components/tooltip";

    @Component
    export default class VariantItem extends VariantProps {
        get tooltip(): string {
            const {tooltip = ''} = this.item.additional ?? {}
            return tooltip
        }

        get variantIdx(): number {
            return this.idx
        }

        get variantName(): string {
            return this.item.name
        }

        get isBorder(): boolean {
            const {type} = this.item

            return type == null || type === 'max'
        }

        get iconClass(): string {
            const {
                item: { iconClass = '' }
            } = this

            return iconClass
        }

        get styleWidthVariant(): object {
            const {lastIdx, oneLine, length, offLastLine} = this
            const lengthVariant: number = offLastLine ? length : length + 1;
            const widthVariant: number = (WIDTH_VARIANT_LINE_PERCENT / lengthVariant) - MARGIN_VARIANT_PERCENT;
            
            
            if(lastIdx && oneLine && !offLastLine) {
                if(document.documentElement.clientWidth<=768){
                    return { width:`100%`};
                }
                return { width:`${widthVariant * 2}%` }
            }
            
            if(oneLine && document.documentElement.clientWidth<=768) { //нужно чтоб текущая ширина выщитывалась динамически
                return { width:`calc(50% - 20px)`};
            }

            if(oneLine) {
                return { width:`${widthVariant}%` }
            }

            return {};
        }

        get classVariant(): object {
            const { isBorder, oneLine, border, isNoneMax,
                item: { type, active }
            } = this

            return {
                'variant-item-border': isBorder || border,
                'variant-item-active': active,
                'variant-item-map-active': active && border,
                'variant-item-min': type === 'min',
                'variant-item-max': type === 'max' && !isNoneMax,
                'variant-item-one-line': oneLine
            }
        }

        setTooltip() {
            const {$refs: {tooltip}} = this

            if(!tooltip) {
                return;
            }

            new Tooltip(tooltip)
        }

        mounted () {
            this.setTooltip()
        }
    }
</script>
