<template>
        <div class="quiz">
            <app-debug v-if="isDebug" v-bind="{stateManager, variant}" @activeStep="activeStep"></app-debug>

            <app-header v-bind="{stepBody, state, lengthState}"></app-header>

            <component
                class="quiz-step"
                v-bind="{stepBody, isSubmitForm, errorFrom}"
                @changeState="changeState"
                :is="renderComponent"/>

            <div class="quiz-navigation d-flex d-flex-h-center d-flex-w-center">
                <span
                    v-if="state !== 1"
                    @click="resolvePrevState"
                    class="prev cursor-pointer mrp-40"
                >{{lang === 'en' ? 'Back' : 'Назад'}}</span>
                <span
                    v-if="stepBody.id !== 777"
                    @click="resolveNextState"
                    class="d-flex d-flex-h-center d-flex-w-center btn-red cursor-pointer"
                >{{lang === 'en' ? 'Next' : 'Далее'}}</span>
                <button
                    v-else
                    @click="sendInfoData"
                    class="d-flex d-flex-h-center d-flex-w-center btn-red cursor-pointer"
                >{{lang === 'en' ? 'Send' : 'Отрпавить'}}</button>
            </div>
        </div>
</template>

<script>
    import AppDebug from "@main/vue/components/system/AppDebug";
    import AppHeader from "@main/vue/components/system/AppHeader";
    import instance from "@main/axios";
    import {getProperty, calculationComplexStep, JSON, receiveExtremeOption, BACK_URL} from "@main/vue/components/system/utils";
    import {FormHandler} from "@main/components/form";

    export default {
        name: "BaseQuiz",
        static: {
            'json' : JSON,
            'VariantComponent': () => import('../VariantComponent/VariantComponent'),
            'FormComponent': () => import('../FormComponent/FormComponent'),
            'MapComponent': () => import('../MapComponent/MapComponent'),
        },
        components: { AppDebug, AppHeader },
        data: () => ({
            // debug mod
            isDebug: false,
            visualStep: null,

            // prod mod.

            //form submit
            isSubmitForm: false,
            errorFrom: null,

            // state
            lang: 'ru',
            steps: null,
            state: 1,
            lengthState: 6,
            stepBody: {},
            stateManager: {},
            variant: {action: null, view: null}
        }),
        computed: {
            renderComponent () {
                const { stepBody: { type = null }, $options } = this;

                if (type == null) {
                    return null
                }

                return $options.static[`${type}Component`]
            }
        },
        provide() {
          return {
              lang: this.getLang
          }
        },
        created() {
            this.initData()
        },
        mounted() {
            this.lang = document.querySelector('html')?.lang ?? 'ru'
        },
        methods: {
            getLang() {
                return this.lang
            },
            // TODO убрать из корневого компонета
            activeStep ({visualStep, visualStep: { action, view, step: nextIdx }}) {
                const { steps } = this;

                if(nextIdx == null) {
                    return;
                }

                const findTestStep =  steps.find((step) => calculationComplexStep({step, action, view, nextIdx: Number(nextIdx)}))

                if(findTestStep == null) {
                    console.error('Шаг не найден');
                    return;
                }

                console.info(findTestStep)

                this.stepBody = findTestStep
                this.visualStep = visualStep
            },
            /**
             * Отправка данных
             */
            async sendInfoData() {
              try {
                  const {isSuccess} = await instance({
                      method: 'post',
                      url: BACK_URL,
                      data: this.stateManager
                  })

                  if (isSuccess) {
                      this.isSubmitForm = false
                  } else {
                      this.errorFrom = 'Произошла серверная ошибка'
                  }
              } catch (e) {
                  this.errorFrom = e
              }
            },
            /**
             * Загрузка данных
             */
            async initData() {
                const { stateManager, isDebug, visualStep, $options: {static: {json}}, variant: {action, view} } = this;

                const steps = await this.fetchSteps(json)

                this.steps = steps;

                if(Object.keys(stateManager).length !== 0) {
                    return null;
                }

                const [firstStep] = steps
                this.stepBody = firstStep

                if(isDebug && false) {
                    this.activeStep({visualStep})
                }
            },
            /**
             * Получение данных из всех json
             *
             * @param {array<string>} json
             * returns {array<object>}
             */
            async fetchSteps (json) {
                const steps = await Promise.all(json.map((url) => (async function (url) {
                    const data = await instance({
                        method: 'get',
                        url
                    })

                    return data
                })(url)))

                return steps.reduce((acc, {data = []}) => [...acc, ...data], [])
            },
            /**
             * Изменение состояния компонента
             *
             * @param {array<{}>} data
             */
            changeState(data) {
                const {state} = this
                this.stateManager[state] = data
                const variants = Object.values(this.stateManager)
                this.setCalculatedProperties(variants)
            },
            /**
             *
             */
            resolveNextState () {
                const {stateManager, state, steps, variant: {action, view}} = this;

                if(!(state in stateManager) && stateManager[state].length === 0) {
                    console.error('Заполните текущий шаг');
                    return;
                }

                const [{id: nextIdx, length = null}]  = stateManager[state]
                this.stepBody = steps.find((step) => calculationComplexStep({step, action, view, nextIdx}))

                if(length != null) {
                    this.lengthState = length
                }

                this.state += 1;
            },
            resolvePrevState () {
                // TODO проверить
                const {stateManager, state, steps, variant: {action, view}} = this;

                if(state <= 1) {
                    console.error('Минимальное значение');
                    return;
                }

                delete stateManager[state]

                const prevId = state - 1;
                const [{idx: prevIdx}] = stateManager[prevId];

                this.stepBody = steps.find((step) => calculationComplexStep({step, action, view, nextIdx: prevIdx}))

                this.state = prevId
            },
            /**
             * Получение корневых свойств для определения последующих шагов
             *
             * @param {object} action
             * @param {object} view
             */
            setCalculatedProperties ([action = null, view = null]) {
                if(action == null || view == null) {
                    return;
                }

                this.variant.action = getProperty(action)
                this.variant.view   = getProperty(view)
            }
        }
    };

</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s, filter .5s;
    }
    /*.fade-enter, .fade-leave-to !* .fade-leave-active до версии 2.1.8 *! {*/
    /*    opacity: 0;*/
    /*    filter: blur(2px);*/
    /*}*/
</style>
