.about-us{

    &__wraper{
        display: flex;
        flex-direction: column;
        gap: 37px;

        @media(min-width: $sm) {

            &{
                flex-direction: row;
            }
        
        }
    }

    &__img{
        width: 60%;
        max-width: 200px;
        height: 267px;
        background-size: cover;
        background-position: center;
        background-image: url("#{$imgPath}/about-us.png");

        @media(min-width: $sm) {

            &{
                max-width: 319px;
                flex:1;
                height: 423px;
            }
        
        }
        @media(min-width: $md) {

            &{
                max-width: 320px;
                height: 423px;
            }
        
        }

        @media(min-width: $lg) {

            &{
                min-width: 328px;
                height: 437px;
            }
        
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        @media(min-width: $sm) {

            &{
                flex:1;

            }
        
        }
    }

    &__name{
        margin-bottom: 12px;
    }

    &__description{
        margin-top: 39px;
        max-width: 520px;
    }

    &__quote{
        margin-top: 19px;
        margin-left: 0;
        max-width: 480px;

        @media(min-width: $lg) {

            &{
                margin-left: 20%;
            }
        
        }

        @media(min-width: $lg) {

            &{
                margin-left: auto;
                margin-right: 450px;
                padding-left: 100px;
                width: 480px;
                box-sizing: content-box;
            }
        
        }
    }
    
}