.benefits{

    &__component{
        &-wrap{

            display: flex;
            flex-direction: column;

            @media(max-width: $md1) {
                &:last-child .benefits__wraper__component:last-child{
                        
                    border-bottom: none;
                }
            }

            @media(min-width: $md1) {
                flex-direction: row;
                &:last-child .benefits__wraper__component{
                    border-bottom: none;
                }
            }

            @media(min-width: $xl) {

                &:last-child .benefits__wraper__component:first-child{
                    border-bottom: 1px solid $gray-basic;
                }
        
                &{
                    flex-direction: column;                   
                    // flex: 1;

                    &:last-child .benefits__wraper__component{
                        
                        padding-right: 0px;
                    }
                }
            }
        }
    }

    &__wraper{

        display: flex;
        flex-direction: column;

        @media(min-width: $xl) {
        
            &{
                flex-direction: row;
                justify-content: space-between;
                // gap: 30px;
            }
        }
        margin-top: -20px;

        @media(min-width: $md) {
            &{
                margin-top: -50px;
            }
        
        }

        @media(min-width: $xl) {
            &{
                margin-top: -35px;
            }
        
        }
        
        // @media(min-width: $xl) {
    
        //     &{
        //         margin-top: -50px;
        //     }
        // }
    }

    &__wraper__component{
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom:  1px solid $gray-basic;

        &:nth-child(6){
            border-bottom:  none;
        }

    
        @media(min-width: $md1) {
            
    
            &:nth-child(5),&:nth-child(6){
                border-bottom:  none;
            }
            &__header{
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            &{
                margin-top: 35px;
                flex:1;
            }
        
        }

        

        @media(min-width: $xl) {
    
            &{
                margin-top: 50px;
                min-height: 200px;
                padding-right: 0px;
                max-width: 450px;
                width: 100%;
                box-sizing: content-box;
            }
        
            &:last-child{
                border-bottom:  none;
            }
        }
        @media(min-width: $xl1) {
            padding-right: 30px;

        }

        &__header{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding-bottom: 20px;
        }
    }

    &__icon{
        width: 50px;
        height: 50px;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
    }

    &__icon-1{
        background-image: url("#{$imgPath}/benefits-icons/1.png");
    }
    &__icon-2{
        background-image: url("#{$imgPath}/benefits-icons/2.png");
    }
    &__icon-3{
        background-image: url("#{$imgPath}/benefits-icons/3.png");
    }
    &__icon-4{
        background-image: url("#{$imgPath}/benefits-icons/4.png");
    }
    &__icon-5{
        background-image: url("#{$imgPath}/benefits-icons/5.png");
    }
    &__icon-6{
        background-image: url("#{$imgPath}/benefits-icons/6.png");
    }

}

.benefits__component__text{

    width: 100%;
    
    @media(min-width: $md) {

        &{
            width: 80%;;
        }
    
    }

    
}



