.contacts{

    margin-bottom: 50px;

    @media(min-width: $md) {

        &{
            margin-bottom: 27px;
        }
    
    }

    @media(min-width: $md) {

        &{
            margin-bottom: 54px;
        }
    
    }
    &-wraper{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__header{
        margin-bottom: 0px!important;
    }

    &__information{
        margin-top: 38px;
        order: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 69px;

        @media(min-width: $sm) {

            &{
                margin-top: 53px;

            }
        
        }

        
        @media(min-width: $md) {

            &{
                margin-top: 98px;
                flex-basis: 38%;
                margin-bottom: 50px;
            }
        
        }

        @media(min-width: $lg) {

            &{
                margin-top: 98px;
                flex-basis: 45%;
                
            }
        
        }

    }
    &__form{
        order: 2;
        flex-basis: 100%;
        background-color: $gray-light;

        @media(min-width: $md) {

            &{
                flex-basis: 60%;
            }
        
        }

        @media(min-width: $lg) {

            &{
                flex-basis: 50%;
            }
        
        }

        &__inputs{
            margin-bottom: 40px;
        }
    }

    &__menu{
        display: flex;
        justify-content: space-between;
        position:unset;
        margin-top: 69px;
        order: 3;
        // max-width: 100%;
        width: 100%;
        gap: 20px;

        &-ul{
            flex: 1;
            width: 100%;
            
        }
        

        @media(min-width: $sm) {

            &{  
                position:unset;
                order: 3;
                margin-top: 64px;
                // max-width: 284px;
            }
        
        }

        @media(min-width: $md) {

            &{
                position: absolute;
                bottom: 0;
                width: 284px;
            }
        
        }
        @media(min-width: $lg) {

            &{
                position: absolute;
                min-width: 365px;
            }
        
        }
    }
}