



.exclusive-offer-list__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.exclusive-offer-item{
    padding-top: 29%;
    margin-bottom: 20px;
    color: $black-basic;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.exclusive-offer-item__img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.exclusive-offer-item__img img{
    width: 100%;
    object-fit: cover;
}

.exclusive-offer-item__content{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
    padding: 13% 10%;
    line-height: normal;
    text-align: left;
    background-color: $gray-light;
    transition: opacity .2s ease-in;

    @media(max-width: $md){
        padding: 8% 8%;
    }
}

.exclusive-offer-item__content:hover{
    opacity: 1;
}

.exclusive-offer-list__item{

    flex-basis: 435px;
    flex-grow: 1;
    
    margin-bottom: 20px;

    max-width: 100%;
    padding-top: 70%;
    
    @media (min-width: $sm){
        &{
            max-width: 100%;
            padding-top: 60%;
        }
    
    }

    @media (min-width: $md){
        max-width: calc(50% - 15px);
        padding-top: 43%;
        margin-right: 30px ;

        &:nth-child(2), &:nth-child(4),&:nth-child(6){
            margin-right: 0px ;
        }
    }

    @media (min-width: $xl){

        
        
        max-width: calc(33.3% - 20px);
        padding-top: 33%;
        
        &:nth-child(1), &:nth-child(2), &:nth-child(4),  &:nth-child(5){
            margin-right: 30px ;
        }
        &:nth-child(3), &:nth-child(6){
            margin-right: 0px ;
        }
        
    }

   

}
