.form{
    background-color: $gray-light;

    @media(min-width: $md) {
    
        &{
            background: none;
        }
    
    }

    &-container{
        
        background-color: $gray-light;

        
    }

    &__description{
        
        margin-bottom: 14px;

        @media(min-width: $sm) {
    
            &{
                margin-bottom: 22px;
            }
        
        }
        @media(min-width: $md) {
    
            &{
                margin-bottom: 32px;
            }
        
        }
        @media(min-width: $xl) {
    
            &{
                margin-bottom: 32px;
                max-width: 870px;
            }
        
        }
    }

    &__contact-form{
        position: relative;
    }
    &__list-social{
        position: absolute;
        right: 0;
        top: -227px;
        display: none;
        @media(min-width: $xl) {
            
            &{
                display: flex;
            }
        
        }
    }
    &__button-social{
        width: 100%;
        display: flex;
        @media(min-width: $xl) {
            
            &{
                
                display: none;
            }
        
        }
    }

    &__btn{
        display: none;

        @media(min-width: $xl) {
    
            &{
                transform: translateY(-36px);
                display: inline;
            }
        
        }
    }

    &__header{

        

        @media(max-width: $xl) {
            &{
                display: flex;
                flex-direction: column;
                max-width: 825px;
            } 
        }
        @media(max-width: $sm) {
            &{
  
                max-width: 355px;
            } 
        }
    }

    &__double-heading{

        // color: chartreuse;
        @media (max-width: $xl){
    
            &{
                align-self: flex-end;
                padding-left: 0px;
            }
        
        }
        @media (min-width: $xl){
    
            &{
                padding-left: 15%;
            }
        
        }
    }
}