.open-screen{
    margin-top: 40px;

    // @media(min-width: $sm) {
    //     &{
    //         margin-top: 100px;
    //     }
    // }
    @media(min-width: $sm) {
        &{
            margin-top: 80px;
        }
    }
    @media(min-width: $md) {
        &{
            margin-top: 70px;
        }
    }

    @media(min-width: $xl) {
        &{
            margin-top: 90px;
        }
    }

    &-container{
        display: flex;
        flex-direction: column;
    }

    &__header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 40px;
        gap:12px;

        @media(min-width: $md1) {

            &{
                flex-direction: row;
                align-items: stretch;
                align-content: center;
                gap:20px;
            }
        
        }
    }

    &__heading{
        height: max-content;
        flex: 2;
    }

    &__description{
        display: flex;
        align-items: center;
        position: relative;
        // padding: auto 0;
        flex: 1;
        @media(min-width: $xl) {

            &{
                margin-left: 36px;
            }
        
        }  
    }

    &__btn{
        position: absolute;
        left: 0;
        bottom: -130px;
        transform: translateY(50%);

        @media(min-width: $md1) {

            &{
                bottom: -40px;
            }
        
        }        
    }

    &__img{
        background-image: url("#{$imgPath}/open-screem-photo.png");
        width: 100%;
        height: 474px;
        background-position:left;
        background-size: cover;
        background-repeat: no-repeat;

        @media(min-width: $sm) {

            &{
                background-position: center;
                height: 447px;
            }
        
        }

        @media(min-width: $md) {

            &{
                background-position: center;
                height: 537px;
            }
        
        }
        
        @media(min-width: $lg) {
        
            &{
                height: 820px;
            } 
        }
    }
}
