.property{
    position: relative;

    &__component{
        &-wrap{
            display: flex;
            flex-direction: column;

            @media(min-width: $md) {

                &{
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                }
            
            
            }

            @media(min-width: $xl) {

                &{
                    flex-direction: column;
                    max-width: 450px;
                    flex:1;
                    gap: 0px;
                }
            }

            &:last-child .property__wraper__component:last-child{
                border-bottom: none;
            }
        }
    }
    
    &__wraper{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        // gap: 30px;

        @media(min-width: $sm) {

            &{
                flex-direction: column;
            }
        
        
        }

        @media(min-width: $xl) {

            &{
                flex-direction: row;
                gap: 30px;
            }
        
        
        }

        &__component{
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 15px 0;

            border-bottom: 1px solid $gray-light;


            @media(min-width: $sm) {

                &{
                    flex: 1;
                }
            }
            @media(min-width: $md) {

                &{
                    border-bottom: none;
                    flex: 1;
                }
            
            
            }

            @media(min-width: $xl) {

                &{
                    padding: 30px 0;
                }
            
            
            }

            
        }
    }

    &__component__img{
        min-width: 100px;
        min-height: 100px;
        background-position: center;
        background-size: cover;
        // background-color: gray;
        border-radius: 50%;
    }

    &__img{
        &-1{
            background-image: url("#{$imgPath}/property/1.png");
        }
        &-2{
            background-image: url("#{$imgPath}/property/2.png");
        }
        &-3{
            background-image: url("#{$imgPath}/property/3.png");
        }
        &-4{
            background-image: url("#{$imgPath}/property/4.png");
        }
        &-5{
            background-image: url("#{$imgPath}/property/5.png");
        }
        &-6{
            background-image: url("#{$imgPath}/property/6.png");
        }
    }

    @media(min-width: $sm) {

        &__component__img{
            min-width: 150px;
            min-height: 150px;
        }
    
    
    }
    
    @media(min-width: $lg) {
    
        &__component__img{
            min-width: 210px;
            min-height: 210px;
        }
    
    }
}

