.question-answer{
    background-color: $bg-color;
    margin-top: -30px;
    @media(min-width: $md) {
    
        &{
            margin-top: -60px;
        }
    
    }
    
    @media(min-width: $xl) {

        &{
            margin-top: -85px;
        }
    }
    

    &__borders{
        padding-top: 30px;
        border-left: 1px solid $gray-light;
        border-right: 1px solid $gray-light;
        border-top: 1px solid $gray-light;

        @media(min-width: $md) {
    
            &{
                padding-top: 60px;
            }
        
        }
        
        @media(min-width: $xl) {
    
            &{
                padding-top: 85px;
            }
        }
    }

    &__component{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $gray-basic;
        

        &-active{

            .question-answer__answer-wrap{
                opacity: 1;
                transform: translateX(0px);
                max-height: 100vh;
            }

            .question__icon{
                transform: rotate(135deg);
                transform-origin: center center;
            }


        }
    }

    &__question{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        gap: 20px;
        padding: 35px 0;
 
    }

    &__answer-wrap{
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateX(16px);
        transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
    }

    &__answer{
        padding-bottom: 35px;
        max-width: 1000px;
        // display: none; 

        // &_active{
        //     display: block;
        // }
    }
}
.question-answer__wraper{


    width: 100%;

    

    
}

.question{
    color: $blue-basic;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    @media(min-width: $md) {
    
        &{
            font-weight: normal;
            font-size: 24px;
            line-height: 130%;
        }
    
    }
    
    @media(min-width: $xl) {

        &{
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
        }
    }

    &__icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        transition: all 0.3s ease-in;
    }
}

