
.services{
    position: relative;

    &__btn{
        &-1{
        display: none;
        @media(min-width: $xl) {  display: initial; }
        }

        &-2{
            display: initial;
        @media(min-width: $md1) {  display: none; }
        }
        
       
    }

    &__paddings{
        padding: 47px 0px;

    @media(min-width: $sm) {
    
        &{
            padding: 76px 60px;
        }
    
    }

    @media(min-width: $md) {
    
        &{
            padding: 77px 60px;
        }
    
    }
    
    @media(min-width: $lg) {

        &{
            padding: 77px 80px;
        }
    }
    }

    &__wraper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: $gray-light;
        border:1px solid $gray-basic;
        padding: 0 -40px;

        @media(min-width: $sm) {
            &{
                gap: 34px;
            }
        }

        @media(min-width: $xl) {
            &{
                flex-direction: row;
                justify-content: space-between;
                gap: 105px;
            }
        }
        
    }


    

    &__list{
        position: relative;
        flex: 1;
        max-width: 100%;

        @media(min-width: $xl) {
            &{
                max-width: 532px;

            }
        }
    }

    &-list__btn{
        position: absolute;
        right: 0;
        bottom: 0;

        display: none;
        @media(min-width: $md1) {  display: initial; }
        @media(min-width: $xl) {  display: none; }
    }

    &-info{

        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 44px;
        /* height: 100%; */

        @media(min-width: $md) {
            &{
                flex-direction: row;
                flex: 1;

            }
        }

        @media(min-width: $xl) {
            &{
                flex-direction: column;
                flex: 1;
                max-width: fit-content;
            }
        }

        &__img-and-btn{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-end;
            // width: 100%;
            // height: 100%;
        }

        &__img{
            object-fit: cover;
            // background-image: url("#{$imgPath}/serices-photo.png");
            width: 100%;
            height: 200px;
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;

            @media(min-width: $md) {
                &{
                    max-width: 330px;
                    height: 100%;
                    min-height: 217px;
                    
                }
              
            }
        
            @media(min-width: $xl) {
                &{
                    max-width: 330px;
                    height: 255px;
        
                }
              
            }
        }

        &__text{
            display: flex;
            flex-direction: column;
            gap: 22px;
        
            &__description{
                max-width: 520px;
            }
        }

    }
}



.extra-services{
    margin-top: 30px;

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        @media(min-width: $sm) {
            &{
                gap: 29px;
            }
        }


        @media(min-width: $xl) {
            &{
                flex-direction: row;
                flex-wrap: nowrap;

            }
          
        }
    }
    

    
    &__card{
        border: 1px solid $gray-basic;
        flex:1;
        height: 505px;
        width: 100%;
        
        background-color: $bg-color;
        // padding: 80px 70px;

        @media(min-width: $xl) {
            &{
                max-width: 452px;

                &:nth-child(2) .extra-services__card__description{
                    gap: 60px;
                }
            }
          
        }

        &-content{
            height: 100%;
            padding-top:  40px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap:20px;

            @media(min-width: $sm) {
                &{
                    padding-top:  50px;
                    padding-left: 60px;
                    padding-right: 90px;
                    padding-bottom: 40px;
                }
              
            }


            @media(min-width: $md1) {
                &{
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap:80px;
                    padding-top:  60px;
                    padding-left: 60px;
                    padding-right: 100px;
                    padding-bottom: 60px;
                }
              
            }
    
            @media(min-width: $xl) {
                &{
                    flex-direction: column;
                    gap:0;
                    padding-top:  70px;
                    padding-left: 80px;
                    padding-right: 30px;
                    padding-bottom: 50px;
                }
              
            }
        }

        &__description{
            display: flex;
            flex-direction: column;
            gap: 22px;
        }

        &__header{
            display: flex;
            flex-direction: row;
            gap: 20px;

            @media(max-width: $xl) {
                &{
                    align-items: center;
                }
              
            }
        }

    }

 

    &__link{
        justify-self:flex-end;
        margin-top: auto;
        margin-bottom: 0px;

        @media(min-width: $xl) {
            &{
                margin-bottom: 60px;
            }
          
        }

    }

    &__icon{
        display: inline-block;
        min-width: 50px;
        height: 50px;
        

        &_1{
            background: url("#{$imgPath}/extra-serv-icons/icon-1.png");
        }

        &_2{
            background: url("#{$imgPath}/extra-serv-icons/icon-2.png");
        }

        &_3{
            background: url("#{$imgPath}/extra-serv-icons/icon-3.png");
        }
    }
}

