.transaction-stages{

    margin-top: 64px;

    @media(min-width: $sm) {

        &{
            margin-top: 100px;
        }
    }
    @media(min-width: $md) {

        &{
            margin-top: 120px;
        }
    }
    // @media(min-width: $lg) {

    //     &{
    //         margin-top: 190px;
    //     }
    // }

    &-item{
        /* width: 100%; */
        padding-top:30px;

        &__number{
            // padding: 30px 0px;
            // margin-top: -5px;
            
            // padding-right: 10%;
            
            padding-right: 7%;

            @media(min-width: $sm) {

                &{
                    border-bottom: 3px solid $bg-color;
                    margin-bottom: -2px;
                    padding-right: 5%;
                }
            }
            @media(min-width: $md) {

                &{
                    padding-right: 10%;
                }
            }
            @media(min-width: $xl) {
        
                &{
                    padding-right: 26%;
                }
            }
        }

        &__content{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            gap: 5px;
             

            @media(min-width: $sm) {
                &{
                    border-bottom: 1px solid $gray-basic;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    gap: 60px;
                }
            
            }
        }

        &__header{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                flex: 1;
                
        }

        &__heading{
            display: inline-block;
            padding-bottom: 30px;
        }
        &__text{
            padding-bottom: 30px;
            text-align: left;
            word-wrap: break-word;
            border-bottom: 1px solid $gray-basic;
            flex: 1;
            margin-left: calc(22px + 7%);
            @media(min-width: $sm) {

                &{
                    border-bottom: none;
                    flex: 1;
                }
            }
            @media(min-width: $xl) {
        
                &{
                    flex: 1;
                }
            }
        }

    }

}


.transaction-stages-item:last-child .transaction-stages-item__text{
    border-bottom: none;
}
