<template>
    <div class="quiz-map">
        <ul class="quiz-variants d-flex d-flex-w-space-between d-flex-h-center  d-flex-wrap">
            <w-variant-item
                v-for="(item, idx) in mapItems"
                :key="`${item.id}-${idx}`"
                @buildActiveVariant="buildActiveVariant"
                v-bind="{ item, idx, border: true }"
            >
            </w-variant-item>
        </ul>
        <component :is="renderMapComponent"></component>
        <ul class="d-flex d-flex-w-space-between d-flex-h-center d-flex-wrap">
            <w-variant-item
                v-for="(item, idx) in bigMapItems"
                :key="`${item.id}-${idx}`"
                @buildActiveVariant="changeActiveVariant"
                v-bind="{ item, idx, isNoneMax: true }"
            >
            </w-variant-item>
        </ul>
    </div>
</template>
<script>
    import BaseComponent from "@main/vue/components/BaseComponent/BaseComponent";
    import VariantItem from "@main/vue/components/VariantComponent/components/VariantItem";
    import {MapComponents, MapStates} from "@main/vue/components/MapComponent/utils/svg";

    export default {
        name: "MapComponent",
        extends: BaseComponent,
        static: {
            MapComponents
        },
        components: {'w-variant-item': VariantItem},
        data: () => ({
           activeVariant: 'canton'
        }),
        computed: {
            renderMapComponent() {
                return this.$options.static.MapComponents[`map-${this.activeVariant}`]
            },
            mapItems() {
                const {items = []} = this.body?.data

                return items.map((item, index) => {
                    this.$set(item, "active", !index)
                    return item;
                }).filter(({type}) => type === 'min')
            },
            bigMapItems() {
                const {items = []} = this.body?.data

                return items.map((item, index) => {
                    this.$set(item, "active", !index)
                    return item;
                }).filter(({type}) => type === 'max')
            }
        },
        methods: {
            changeActiveVariant (idx) {
                const index = idx + this.mapItems.length
                this.buildActiveVariant(index)
            },
            buildActiveVariant(idx) {
                const {body: {data = {}, id: idMap}, mapItems} = this;

                data?.items.forEach((item, index) => {
                    (index !== idx) ? item.active = false : item.active = true;

                    if(item.active && idx < mapItems.length) {
                        this.activeVariant = MapStates[index]
                    }
                });

                const dataVariant = data?.items.filter((_, index) => index === idx).map(({name, id}) => ({name, id, idx: idMap, variantMap: this.activeVariant}))

                this.$emit('changeState', dataVariant);
            }
        },
        created() {
            this.buildActiveVariant(0)
        }

    }
</script>

