<template>
  <div>
    <div v-if="isSubmitForm === false && errorFrom == null">
        <div
          v-if="!isLastStep"
          class="quiz-form"
          :class="formClass"
        >
          <ui-input
            v-for="(input, idx) in formInputs"
            :key="idx"
            v-model="input.value"
            v-bind="input"
          />
        </div>
        <div
          v-if="isLastStep"
          class="quiz-form d-flex d-flex-w-space-between d-flex-h-center d-flex-wrap"
        >
          <div class="w-47">
            <ui-input
              v-for="(input, idx) in formInputs.inputs.left"
              :key="`${idx}-left`"
              v-model="input.value"
              v-bind="input"
            />
          </div>
    
          <div class="w-47">
            <ui-input
              v-for="(input, idx) in formInputs.inputs.right"
              :key="`${idx}-right`"
              v-model="input.value"
              v-bind="input"
            />
          </div>
    
          <div class="d-flex w-100 d-flex-w-center d-flex-h-center quiz-personal">
            <div class="d-flex w-75 d-flex-h-center">
              <ui-input v-bind="formInputs.checkbox"/>
              <p v-html="formInputs.checkbox.html"/>
            </div>
          </div>
        </div>
    </div>
    <div v-if="isSubmitForm" class="form-success">
        <h3>Благодарим за прохождение квиза</h3>
        <a target="_blank" :href="pdfLink" download>Скачать </a>
    </div>
    <div v-if="errorFrom" class="form-error">
          <h3>Произошла ошибка, попробуйте позже или напишите нам <a target="_blank" href="mailto:info@winwinter.ch">info@winwinter.ch</a></h3>
          <code style="margin-top: 20px">{{errorFrom}}</code>
      </div>
  </div>
</template>

<script>
    import BaseComponent from "@main/vue/components/BaseComponent/BaseComponent";
    import UiInput from "@main/vue/components/FormComponent/compoments/ui-input";

    export default {
        name: "FormComponent",
        components: {
            "ui-input": UiInput
        },
        props: {
            isSubmitForm: {
                type: Boolean,
                default: false
            },
            errorFrom: {
                type: Object,
                default: null
            }
        },
        extends: BaseComponent,
        data: () => ({
            pdfLink: null
        }),
        created() {
            this.pdfLink = document.querySelector('#PDF')?.value
        },
        computed: {
            isLastStep() {
                return this.body?.data?.format === "lastStep"
            },
            formClass() {
                const {center = false} = this.body?.data;

                if(!center) {
                    return {}
                }

                return {
                    "d-flex": true,
                    "d-flex-w-center": true
                }
            },
            formInputs() {
                const {form = []} = this.body?.data

                if(!this.isLastStep) {
                    return form
                }

                return {
                    inputs: form.filter(({type}) => type !== "checkbox").reduce((acc, input, index) => {
                        const block = index % 2 ? "right" : "left";

                        return {
                            ...acc,
                            [block] : [...acc[block], input]
                        }
                    }, {left: [], right: []}),
                    checkbox: form.find(({type}) => type === "checkbox")
                }

            }
        },
        watch: {
            formInputs: {
                handler() {
                    this.$emit("changeState", this.activeVariant)
                },
                deep: true
            }
        }
    }
</script>
<style scoped>
    .form-success, .form-error {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 25px;
        justify-content: center;
    }

    .form-success h3 {
        color: #62a1ce;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 110%;
        margin-bottom: 20px;
    }

    .form-error h3 {
        color: #C32F2F;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 110%;
        margin-bottom: 20px;
    }

    .form-success a {
        color: #000;
        text-decoration: underline;
    }
</style>

