<template>
<div>
    <code v-if="bodyError">{{bodyError}}</code>

    <w-mixed
        v-if="nextId"
        v-bind="{items}"
        @buildActiveVariant="buildActiveVariant"></w-mixed>

    <template v-if="!items.advanced && nextId == null">
        <ul class="quiz-variants d-flex d-flex-w-space-between d-flex-h-center "
        :class="{
           'd-flex-wrap': oneLine == null,
           'd-flex-md-column': oneLine
        }"
        >
            <w-variant-item
                v-for="(item, idx) in items"
                :key="`${item.id}-${idx}`"
                @buildActiveVariant="buildActiveVariant"
                v-bind="{
                    item, idx, length: items.length, lastIdx: (idx === items.length - 1), oneLine, offLastLine
                }"
            >
            </w-variant-item>
        </ul>
    </template>
    <div v-if="items.advanced && nextId == null" class="mt-5 quiz-padding variant-item-border">
        <ul class="quiz-variants-min d-flex d-flex-w-space-between d-flex-h-center d-flex-wrap">
            <w-variant-item
                v-for="(item, idx) in items.min"
                :key="`${item.id}-${idx}`"
                @buildActiveVariant="buildActiveVariant"
                v-bind="{item,idx}"
            >
            </w-variant-item>
        </ul>

        <ul class="d-flex d-flex-w-space-between d-flex-h-center d-flex-wrap">
            <w-variant-item
                v-for="(item, idx) in items.max"
                :key="`${item.id}-${idx}`"
                @buildActiveVariant="buildActiveVariant"
                v-bind="{item,idx: items.min.length + idx}"
            >
            </w-variant-item>
        </ul>
    </div>
</div>
</template>

<script>
    // TODO переписать шаблон
    import BaseComponent from "../BaseComponent/BaseComponent";
    import VariantItem from "./components/VariantItem"
    import Mixed from "./components/Mixed"

    export default {
        name: "VariantComponent",
        extends: BaseComponent,
        components: {'w-variant-item': VariantItem, 'w-mixed': Mixed},
        computed: {
            oneLine() {
                return this.body?.data?.one_line || null
            },
            offLastLine() {
                return this.body?.data?.off_last_item || false
            },
            items() {
                const {items = []} = this.body?.data
                const {nextId} = this

                return this.fetchGridVariant(items, nextId)
            },
            nextId() {
                return this.body?.data?.next_id || null
            }
        },
        methods: {
            fetchGridVariant(items, nextId) {
                //TODO чистые функции сократить метод
                if(nextId != null) {
                    return items.reduce((acc, item) => {
                        const {type = null} = item;
                        this.$set(item, "active", false);
                        acc[(type === 'input' ? 'inputs' : 'variants')].push(item);
                        return acc
                    }, {inputs: [], variants: []})
                }

                const filterItems = items.reduce((acc, item) => {
                    const {type = null} = item
                    if(type != null) {
                        this.$set(item, "active", false)
                        acc[type].push(item)
                    }
                    return acc
                }, {advanced: true, min: [], max: []})

                if (filterItems.min.length > 0 || filterItems.max.length > 0) {
                    return filterItems
                }

                return items.map(item => {
                    this.$set(item, "active", false)
                    return item;
                })
            },
            buildActiveVariant(idx) {
                const {body: {multitype : isMultitype = false, data = {}}} = this

                data?.items.forEach((item, index) => {
                    if(!isMultitype) {
                        (index !== idx) ? item.active = false : item.active = !item.active
                    }

                    if(isMultitype && index === idx) {
                        item.active = !item.active
                    }
                })
                
                this.$emit('changeState', this.activeVariant)
            }
        }
    }
</script>
