<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrap">
            <span class="footer__item">Copyright © 2021 Все права защищены</span>
            <span class="footer__item">Оферта</span>
            <span class="footer__item">Политика конфиденциальности</span>
        </div>
        <div class="footer__right">

        </div>
    </div>
</footer>
