<header class="header__wrap">
    <div id="header" class="header__fixed js-header">{# js-header #}
    
        <div class="container">
            <div class="header__content">
                <a href="/" class="header__icon">
                    <img class="logo header__logo" src="..\images\svg\win.winter-icon2.svg"></img>
                </a>
                <div class="header__nav-wrap">
                    <div class="header__nav-inner">
                        <div class="header-menu">
                            {% include "./menu.njk" %}
                        </div>
                        
                        <div class="header__lang">
                            <a class="link-grey link-grey_active" href="">Ru</a>
                            <a class="link-grey " href="">En</a>
                        </div>

                        <div class="header-burger js-menu-toggle">
                            <div class="header-burger__item"></div>
                            <div class="header-burger__item"></div>
                            <div class="header-burger__item"></div>
                        </div>

                        
                        
                        
                    </div>
                    {% include "./menu_modal.njk" %}
                    
                    
                </div>
                
            </div>
        </div>
    </div>
</header>
  


