<div class="menu-modal js-menu-modal fade-out">
    <div class="menu-modal-wrap">
        <div class="menu-modal__inner">
            <div class="menu-modal__header">
                <a href="/" class="menu-modal__icon">
                    <img class="logo menu-modal__logo header__logo" src="..\images\svg\win.winter-icon2.svg"></img>
                </a>
                <div class="icon-cross menu-modal__cross js-menu-toggle">
                    <span class="icon-cross__top"></span>
                    <span class="icon-cross__bottom"></span>
                </div>              
            </div>
            <div class="header__lang menu-modal__lang">
                <a class="link-grey link-grey_active" href="">Ru</a>
                <a class="link-grey " href="">En</a>
            </div>
            <div class="menu-modal-nav">
                <ul class="menu-nav__ul menu-nav__ul_column">
                    <li class="menu-nav__li menu-modal-nav__li"><a class="link-grey js-smooth-scroll" href="/#services">Услуги</a></li>
                    <li class="menu-nav__li menu-modal-nav__li link"><a class="link-grey js-smooth-scroll" href="/#app">Квиз</a></li>
                    <li class="menu-nav__li menu-modal-nav__li"><a class="link-grey js-smooth-scroll" href="/#exclusive-offer">Эксклюзив</a></li>
                    {# <li class="menu-nav__li menu-modal-nav__li"><a class="link-grey js-smooth-scroll" href="/#about-us">О нас</a></li> #}
                    <li class="menu-nav__li menu-modal-nav__li"><a  class="link-grey " href="/transaction-stages.html">Информация</a></li>
                    {# <li class="menu-nav__li menu-modal-nav__li"><a class="link-grey js-smooth-scroll" href="/#question-answer">F&Q</a></li> #}
                    <li class="menu-nav__li menu-modal-nav__li"><a class="link-grey js-smooth-scroll" href="/#contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="contact__information menu-modal__contact-information">
                <div class="phone phone_column menu-modal__phone">
                    <span class="phone__number">+7 (999) 234 56 78</span>
                    <span class="phone__time text-color_grey">Пн – Сб  с 10:00 до 19:00</span>
                </div>
                <ul class="list list_row">
                    <li><a href="" class="social-icon telegram"> </a></li>
                    <li><a href="" class="social-icon instagram"> </a></li>
                    <li><a href="" class="social-icon whatsapp"> </a></li> 
            </div>
        </div>    
    </div>
    <div class="menu-modal-bg js-menu-toggle"></div>
    
</div>