<div class="menu-bottom">

    <div class="container">
        <div class="menu-borrom__header ">
            <a href="/" class="display-md_after"> 
                <img class="logo menu-bottom__logo " src="..\images\svg\win.winter-icon2.svg"></img>
            </a>
            <h3 class="menu-bottom__heading block-heading display-sm_after">Контакты</h3>
        </div>
        
        <div class="menu-bottom__content">
            
            <div class="menu-bottom__logo-links">
                <a href="/" class="display-md_before-include">
                    <img class="logo menu-bottom__logo " src="..\images\svg\win.winter-icon2.svg"></img>
                </a>
                <ul class="contact__links list list_row">
                    <li><a href="" class="social-icon telegram"> </a></li>
                    <li><a href="" class="social-icon instagram"> </a></li>
                    <li><a href="" class="social-icon whatsapp"> </a></li> 
                </ul>
                <div class="contact__information display-md_after">
                    <div class="phone phone_column">
                        <span class="phone__number">+7 (999) 234 56 78</span>
                        <span class="phone__time text-color_grey">Пн – Сб  с 10:00 до 19:00</span>
                    </div>
                    <span class="mail">info@gmail.com</span>
            </div>
            </div>
            
            
            <nav class="menu-nav menu-bottom__nav menu-nav_footer">
                <ul class="list list_column menu-bottom__ul">
                    <li><a href="/#services" class="link-grey">Услуги</a></li>
                    <li><a class="link-grey" href="/#app">Квиз</a></li>
                    <li><a href="/#exclusive-offer" class="link-grey">Эксклюзив</a></li>
                    <li><a href="/#about-us" class="link-grey">О нас</a></li>
                </ul>
                <ul class="list list_column menu-bottom__ul">
                    <li><a href="/transaction-stages.html" class="link-grey">Информация</a></li>
                    <li><a href="/#question-answer" class="link-grey">F&Q</a></li>
                    <li><a href="/#contacts" class="link-grey">Контакты</a></li>
                </ul>
            </nav>
            <div class="display-md_before-include">
                <div class="contact__information" >
                <div class="phone phone_column">
                    <span class="phone__number">+7 (999) 234 56 78</span>
                    <span class="phone__time text-color_grey p">Пн – Сб  с 10:00 до 19:00</span>
                </div>
                <span class="mail">info@gmail.com</span>
            </div>
            </div>
            
    </div>

</div>
