<div class="menu js-menu">
    <div class="menu-nav">
        <ul class="menu-nav__ul menu-nav__ul_row">
            <li class="menu-nav__li"><a class="link-grey js-smooth-scroll" href="/#services">Услуги</a></li>
            <li class="menu-nav__li"><a class="link-grey js-smooth-scroll" href="/#app">Квиз</a></li>
            <li class="menu-nav__li"><a class="link-grey js-smooth-scroll" href="/#exclusive-offer">Эксклюзив</a></li>
            {# <li class="menu-nav__li"><a class="link-grey text-nowrap js-smooth-scroll" href="/#about-us">О нас</a></li> #}
            <li class="menu-nav__li"><a class="link-grey " href="/transaction-stages.html">Информация</a></li>
            {# <li class="menu-nav__li"><a class="link-grey js-smooth-scroll" href="/#question-answer">F&Q</a></li> #}
            <li class="menu-nav__li"><a class="link-grey js-smooth-scroll" href="/#contacts">Контакты</a></li>
        </ul>
    </div>
</div>
