<div class="modal exclusive-offer-modal js-modal" data-modal="exclusive-offer-modal-1">
    <a class="modal__area js-modal-close"></a>
    <div class="modal-container">
        <div class="modal-content exclusive-offer-modal-content">
            <div class="modal-content__wrap">
                <div class="modal-content__inner">
                    <a class="modal__close js-modal-close">
                        <div class="icon-cross">
                            <span class="icon-cross__top"></span>
                            <span class="icon-cross__bottom"></span>
                        </div>                  
                    </a>
                    <div class="exclusive-offer-modal__wrap">
                        <div class="exclusive-offer-modal__info modal__sm-paddings">
                            <div class="exclusive-offer-modal__header">
                                <span class="heading_70">Помещение в центре Женевы</span>
                                <span class="component__heading icon-lockation">Geneve</span>
                            </div>  
                            <div class="exclusive-offer-modal__text">
                              <p>Торговое помещение с большими витринами в центре Женевы. Состоит из двух уровней. На данный момент помещение сдано в аренду за 2 000 ₣ в месяц, общий доход 24 000 ₣. Контракт подписан в 2019 году сроком на 5 лет. Ежегодные расходы составляют 2 200-2 500 ₣ в год. Арендатор платил исправно, даже во время пандемии. В ближайшем будущем планировалось поднять аренду до 2 500 ₣.</p>
                            </div>
                            <div class="exclusive-offer-modal-list__content exclusive-offer-modal__imgs">

                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\1.png" alt="Картинка">
                                    </div>
                                   
                                </div>
                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\2.png" alt="Картинка">
                                    </div>
                                   
                                </div>
                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\3.png" alt="Картинка">
                                    </div>
                                 
                                </div>
                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\4.png" alt="Картинка">
                                    </div>
                                 
                                </div>  
                            </div>                                                 
                        </div>
                        <div class="exclusive-offer-modal-list__content display-xl_after modal__sm-lft-rt-paddings">

                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\1.png" alt="Картинка">
                                    </div>
                                   
                                </div>
                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\2.png" alt="Картинка">
                                    </div>
                                   
                                </div>
                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\3.png" alt="Картинка">
                                    </div>
                                  
                                </div>
                                <div  class="exclusive-offer-modal-item exclusive-offer-modal-list__item">
                                    <div class="exclusive-offer-modal-item__img">
                                        <img src="..\images\exclusive-offer-modal-imgs\4.png" alt="Картинка">
                                    </div>
                                
                                </div>  
                            </div>
                        <div class="exclusive-offer-modal__form-wrap modal__sm-lft-rt-paddings">
                            <div class="exclusive-offer-modal__form">
                                <div class="exclusive-offer-modal__form-map display-md_before">

                                </div>
                                <div class="exclusive-offer-modal__form-characteristics characteristics-list__wrap">
                                    <div class="characteristics-list__inner">
                                        <div class="characteristics-list__item">
                                                <span class="p">Площадь</span>
                                                <span class="component__heading">60 м<sup>2</sup></span>
                                        </div>
                                        <div class="characteristics-list__item">
                                                <span class="p">Цена</span>
                                                <span class="component__heading">685 000 F</span>
                                        </div>
                                        {# <div class="characteristics-list__item">
                                                <span class="p">Площадь</span>
                                                <span class="component__heading">3500 м<sup>2</sup></span>
                                        </div>
                                        <div class="characteristics-list__item">
                                                <span class="p">Площадь</span>
                                                <span class="component__heading">3500 м<sup>2</sup></span>
                                        </div> #}
                                    </div>

                                </div>
                                <div class="exclusive-offer-modal__form-footer">
                                    <span class="p icon-doc">Больше деталей можно узнать в перезентации</span>
                                    <button class="btn btn-red"> <span class="text-in-btn p">Скачать</br>PDF</span> </button>
                                </div>    
                                
                            </div>                        
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

