<div id="" class="modal extra-services-modal js-modal" data-modal="additional-services">
    <a  class="modal__area js-modal-close"></a>
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-content__wrap">
                <div class="modal-content__inner">
                    <a  class="modal__close js-modal-close">
                        <div class="icon-cross">
                            <span class="icon-cross__top"></span>
                            <span class="icon-cross__bottom"></span>
                        </div>                  
                    </a>
                    <div class="extra-services-modal__wrap">
                        <div class="extra-services-modal__info modal__sm-paddings">
                            <div class="extra-services-modal__header">
                                <span class="extra-services__icon extra-services__icon_1"></span>
                                <span class="component__heading">Дополнительные услуги</span>
                            </div>  
                            <div class="extra-services-modal__text">
                              <p>Имея богатый опыт и сеть контактов на рынке недвижимости, мы оказываем дополнительные услуги, связанные, в том числе, со строительными работами и поиском арендаторов, а также специализируемся на гостиничном бизнесе.</p>
                              <ul class="list list_column">
                                <li class="list__item"><span class="list__item__text p">Помощь в продаже недвижимости или поиске арендатора</span></li>
                                <li class="list__item"><span class="list__item__text p">Подбор операторов для гостиниц и ресторанов</span></li>
                                <li class="list__item"><span class="list__item__text p">Покупка и продажа готового бизнеса</span></li>
                                <li class="list__item"><span class="list__item__text p">Поиск инвестиционных проектов или инвесторов</span></li>
                                <li class="list__item"><span class="list__item__text p">Поиск земельных участков для нового строительства</span></li>
                                <li class="list__item"><span class="list__item__text p">Консультирование по вопросам строительства, помощь в получении разрешения на строительство, подбор архитекторов и подрядчиков</span></li>
                                <li class="list__item"><span class="list__item__text p">Полное сопровождение проектов по ремонту и выполнение реновации объектов: дизайн, архитектура, интерьер, ребрендинг, надзор</span></li>
                            </ul>
                            </div>                                                    
                        </div>
                        <div class="extra-services-modal__form-wrap">
                            <form class="extra-services-modal__form">
                                    <div class=" contact-form contact-form_in-column modal-form__paddings gap-40">
                                        <span class="card__heading">Оставьте заявку и мы свяжемся с вами</span> 
                                        <div class="contact-form__inputs contact-form__inputs_in-column">
                                            <input class="input" type="text" placeholder="Имя">
                                            <input class="input "   placeholder="Номер телефона или email">
                                        </div> 
                                        <div class="d-flex d-flex-w-spase-between d-flex-h-end">
                                            <button class="btn btn-red js-form-btn">Отправить</button>
                                            <ul class="list list_row">
                                                <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                                                <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                                                <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                                            </ul>
                                        </div>
                                    </div>
                            </form>                        
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal vip-services-modal js-modal" data-modal="vip-services">
    <a class="modal__area js-modal-close"></a>
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-content__wrap">
                <div class="modal-content__inner">
                    <a class="modal__close js-modal-close">
                        <div class="icon-cross">
                            <span class="icon-cross__top"></span>
                            <span class="icon-cross__bottom"></span>
                        </div>                  
                    </a>
                    <div class="extra-services-modal__wrap">
                        <div class="extra-services-modal__info modal__sm-paddings">
                            <div class="extra-services-modal__header">
                                <span class="extra-services__icon extra-services__icon_2"></span>
                                <span class="component__heading">VIP Сервис</span> 
                            </div>  
                            <div class="extra-services-modal__text">
                                <p>Для наших клиентов мы предлагаем эксклюзивные услуги, отвечающие требованиям, возникшим после приобретения недвижимости. Уход и управление собственностью, необходимая помощь, связанная с переездом, финансовая и юридическая консультации. </p>
                                <ul class="list list_column">
                                    <li class="list__item list__item_whith-header"><span class="list__item__header">Бухгалтерские услуги</span><span class="list__item__text p">Открытие счетов, регистрация и администрирование фирм, налоговая консультация, ведение бухгалтерии, написание бизнес-плана</span></li>
                                    <li class="list__item list__item_whith-header"><span class="list__item__header">Переезд и организация быта </span><span class="list__item__text p">Регистрация по месту жительства, устройство детей в школу, замена водительских прав и номеров автомобиля, администрация мед сервисов, подбор персонала на дом</span></li>
                                    <li class="list__item list__item_whith-header"><span class="list__item__header">ВНЖ </span><span class="list__item__text p">Помощь и руководство в получении швейцарского вида на жительство</span></li>
                                    <li class="list__item list__item_whith-header"><span class="list__item__header">Сервисы по управлению недвижимостью </span><span class="list__item__text p">Оплата коммунальных счетов, уборка, уход за садом, ремонт и тд.</span></li>
                                </ul>
                            </div>                                                    
                        </div>
                        <div class="extra-services-modal__form-wrap">
                            <form class="extra-services-modal__form">
                                    <div class=" contact-form contact-form_in-column modal-form__paddings gap-40">
                                        <span class="card__heading">Оставьте заявку и мы свяжемся с вами</span> 
                                        <div class="contact-form__inputs contact-form__inputs_in-column">
                                            <input class="input" type="text" placeholder="Имя">
                                            <input class="input input-wrap"   placeholder="Номер телефона или email">
                                        </div> 
                                        <div class="d-flex d-flex-w-spase-between d-flex-h-end">
                                            <button class="btn btn-red js-form-btn">Отправить</button>
                                            <ul class="list list_row">
                                                <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                                                <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                                                <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                                            </ul>
                                        </div>
                                    </div>
                            </form>                        
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-form js-modal" data-modal="form">
    <a class="modal__area js-modal-close"></a>
    <div class="modal-form-container">
        <div class="modal-form-content">
            <div class="modal-form-content__wrap">
                <div class="modal-form-content__inner">
                    <a class="modal__close js-modal-close">
                        <div class="icon-cross">
                            <span class="icon-cross__top"></span>
                            <span class="icon-cross__bottom"></span>
                        </div>                  
                    </a>
                    <form class="extra-services-modal__form">
                            <div class=" contact-form contact-form_in-column modal-form__paddings gap-40">
                                <span class="component__heading">СВЯЖИТЕСЬ С НАМИ ДЛЯ БЕСПЛАТНОЙ КОНСУЛЬТАЦИИ.
                                                                <br> СЭКОНОМЬТЕ СЕБЕ <span class="color-red">CHF 1000.-</span></span>
                                <div class="contact-form__inputs contact-form__inputs_in-column">
                                    <input class="input js-valid" data-test="length:2" data-message="Имя минимум 3 символа" type="text" placeholder="Имя">
                                    <input class="input js-valid" data-test="length:6" data-message="Неккоректно введенны передаваеммые параметры" placeholder="Номер телефона или email">
                                </div> 
                                <div class="d-flex d-flex-w-spase-between d-flex-h-end">
                                    <button class="btn btn-red js-form-btn">Отправить</button>
                                    <ul class="list list_row">
                                        <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                                        <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                                        <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                                    </ul>
                                </div>
                                
                            </div>
                    </form>                        
                </div>
            </div>
        </div>
    </div>
</div>


