<div data-modal="quiz" class="modal modal-quiz js-modal" >
    
    <div class="modal-container">
        <div class="modal-form-content">
            <a  class="modal__close js-modal-close">
                <div class="icon-cross">
                    <span class="icon-cross__top"></span>
                    <span class="icon-cross__bottom"></span>
                </div>
            </a>
            <div class="modal-content__wrap-quiz">
                <div class="modal-content__inner">
                    <div id="app"></div>
                </div>
            </div>
        </div>
    </div>
</div>
