<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=360, initial-scale=1, shrink-to-fit=no">
    <title>Оу, такой странички нет</title>
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="page-404">
    <p class="page-404__code">404</p>
    <main>
        <div class="container">
            <div class="page-404__wrap">
                <h1 class="page-404__title">Оу, такой странички&nbsp;нет</h1>
                <p class="page-404__text">Возможно мы ее удалили или переместили, либо она просто никогда не существовала, но ничего страшного!</p>
                <a href="/" class="page-404__link btn btn-type1 btn-xl js-link js-link-to-main js-link-to-main-404">Окей, давайте на главную</a>
            </div>
        </div>
    </main>
</body>
</html>
