<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=360, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block title %}
           {{ title }}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="{{headerClasses}}">
    
    {% include "./components/header.njk" %}
    {% include "./components/stripes.njk" %}

    <main>
        
        {% block content %}
        {% endblock %}
    </main>
    <div class="container container-abstract">
            <span class="container-abstract__line display-xl_before"></span>
            <span class="container-abstract__line container-abstract__line-margin"></span>
            <span class="container-abstract__line container-abstract__line-margin"></span>
            <span class="container-abstract__line"></span>
    </div>

    {% include "./components/footer.njk" %}
    {% include "./components/quiz.njk" %}

    {# {% include "./components/menu_bottom.njk" %} #}
    {% if title=="Главная" %}
        {% include "./components/modals.njk" %}
        {% include "./components/modals_exclusive-offer.njk" %}
    {% endif %}

    <script src="js/runtime.js"></script>
    <script src="js/vendors.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
