{% set title = "Главная" %}
{% extends './_layout.njk' %}

{% block content %}

    {# <div class="container ">
        <div class="container-abstract">
            <span class="container-abstract__line"></span>
            <span class="container-abstract__line"></span>
            <span class="container-abstract__line"></span>
            <span class="container-abstract__line"></span>
        </div>
    </div> #}

    <div class="open-screen section">
        <div class="container container-off">
            
            <div class="open-screen-container ">
                <div class="open-screen__header container-paddings">
                    <h1 class="main-heading open-screen__heading"> <span class="text-color_black text-nowrap">Эксперты<br>по недвижимости<br></span>в швейцарии</h1>
                    <div class="open-screen__description">
                        <p class="text-size_30">Мы сами являемся владельцами и покупателями недвижимости в Швейцарии. Наш опыт поможет вам.</p>
                        <button class="btn btn-red open-screen__btn js-modal-open" data-modal="form">Связаться</button>
                    </div>
                </div>
                <div class="open-screen__img"></div>
            </div>
        </div>
    </div>
    {# property__header   block-heading_double-heading_hide-paddings#}
    <div class="container section" id="quiz">
        <div class=" block-header block-header_double-heading quiz-preview__header display-lg_after">
            <h3 class="block-heading">
                Пройдите наш квиз
            </h3>
            <h3 class="block-heading block-heading_double-heading ">
                Прямо сейчас
            </h3>
        </div>
        <div class="quiz-preview__container">
            <div class-"quiz-preview__info">
                <div class="property__header block-header block-header_double-heading quiz-preview__header display-lg_before-include">
                    <h3 class="block-heading">
                        Пройдите наш квиз
                    </h3>
                    <h3 class="block-heading block-heading_double-heading block-heading_double-heading_hide-paddings">
                        Прямо сейчас
                    </h3>
                </div>
                <div class="quiz-content d-flex d-flex-h-center d-flex-w-space-between">
                    <button
                        class="btn btn-red  quiz-preview__btn js-modal-open "
                        data-modal="quiz"
                    >
                        Квиз
                    </button>
                    <p>
                        Оставьте нам заявку через квиз и получите <span class="color-red fw-700">брошюру с основной информацией</span> о рынке швейцарской недвижимости.
                    </p>
                </div>
            </div>
            
            <div class="quiz-preview__img">

            </div>
        </div>
        
    </div>

    <div  id="services" class="services section">
        <div class="container container-off">
                
                <div class="block-header container-paddings">
                    <h3 class="block-heading ">Услуги</h3>            
                </div>
                <div class="services__paddings border_gray services__wraper container-paddings">
                    <div class="services-info container-paddings">
                        <div class="services-info__text">
                            <span class="component__heading">Профильные услуги</span> 
                            <p class="services-info__text__description">Мы специализируемся на подоре недвижимости по индивидуальным критериям по всей Швейцарии. Найдём подходящие варианты и организуем просмотры в сопровождении наших экспертов.</p>
                        </div>
                        <div class="services-info__img-and-btn">
                            <img class="services-info__img" src="..\images\serices-photo.png" alt="Картинка">
                            <button class="btn btn-red services__btn-1 js-modal-open" data-modal="form">Выбрать</button>
                        </div>
                        
                    </div>
                    <div class="services__list container-paddings">
                        <ul class="list list_column">
                            <li class="list__item"><span class="list__item__text p">Подготовка и проведение сделки купли-продажи или подписание контракта аренды</span></li>
                            <li class="list__item"><span class="list__item__text p">Контроль и сопровождение всего процесса от начала и до конца</span></li>
                            <li class="list__item"><span class="list__item__text p">Ознакомление с тонкостями рынка недвижимости в Швейцарии</span></li>
                            <li class="list__item"><span class="list__item__text p">Организация посещения интересующих объектов</span></li>
                            <li class="list__item"><span class="list__item__text p">Консультация в процессе осмотра недвижимости и принятия решения о покупке</span></li>
                            <li class="list__item"><span class="list__item__text p">Ведение переговоров</span></li>
                            <li class="list__item"><span class="list__item__text p">Помощь при получение ипотечного кредита</span></li>
                            <li class="list__item"><span class="list__item__text p">Полное юридическое сопровождение</span></li>
                            <li class="list__item"><span class="list__item__text p">Адаптация документов En / Fr / De / Рус</span></li>
                        </ul>
                        <button class="btn btn-red  services-list__btn js-modal-open" data-modal="form">Выбрать</button>

                    </div>
                    <div class="container-paddings services__btn-2">
                        <button class="btn btn-red js-modal-open " data-modal="form">Выбрать</button>
                    </div>
                    

                </div>
                <div id="extra-services" class="extra-services">
                    <div class="extra-services__list">

                        <div class="extra-services__card ">
                            <div class="extra-services__card-content container-paddings">
                                <div class="extra-services__card__description">
                                    <div class="extra-services__card__header">
                                        <span class="extra-services__icon extra-services__icon_1"></span>
                                        <span class="component__heading">Дополнительные услуги</span>
                                    </div>
                                    <p>Мы оказываем услуги, связанные, в том числе, со строительными работами и поиском арендаторов, а также специализируемся на гостиничном бизнесе.</p>
                                </div>
                                <a class="js-modal-open btn link link-red link-with-arrow extra-services__link " data-modal="additional-services">Подробнее</a>
                               {# href="#additional-services" #}
                            </div> 
                        </div>

                        <div class="extra-services__card ">
                            <div class="extra-services__card-content container-paddings">
                                <div class="extra-services__card__description">
                                    <div class="extra-services__card__header">
                                        <span class="extra-services__icon extra-services__icon_2"></span>
                                        <span class="component__heading">VIP Сервис</span> 
                                    </div>                                
                                    <p>Для наших клиентов мы предлагаем эксклюзивные услуги, отвечающие требованиям, возникшим после приобретения недвижимости.</p>
                                </div>
                                <a class="js-modal-open btn link link-red link-with-arrow extra-services__link" data-modal="vip-services">Подробнее</a>
                                {#  href="#vip-services" #}
                            </div>
                        </div>

                        <div class="extra-services__card">
                            <div class="extra-services__card-content container-paddings">
                                <div class="extra-services__card__description">
                                    <div class="extra-services__card__header">
                                        <span class="extra-services__icon extra-services__icon_3"></span>
                                        <span class="component__heading">Бесплатная консультация</span>
                                    </div>
                                    <p>Ответим на все вопросы и расскажем детали сотрудничества. Свяжемся с вами в течение часа.</p>
                                </div>
                                <a class="js-modal-open btn btn-red-border" data-modal="form">Связаться</a>
                                {#   href="#form" #}
                            </div>  
                        </div>

                    </div>
                </div>
            
        </div>
    </div>


    <div class="property section">
        <div class="container">
            <div class="property__header block-header block-header_double-heading">
                <h3 class="block-heading">недвижимость</h3>
                <h3 class="block-heading block-heading_double-heading block-heading_double-heading_hide-paddings text-nowrap">с которой мы работаем</h3>
            </div>
            <div  class="property__wraper">
                <div class="property__component-wrap">
                    <div class="property__wraper__component">
                        <div class="property__component__img property__img-1"></div>
                        <span class="property__component__heading component__heading">Жилая</span> 
                    </div>  
                    <div class="property__wraper__component">
                        <div class="property__component__img property__img-2" ></div>
                        <span class="property__component__heading component__heading">Отели и рестораны</span> 
                    </div>
                </div>



                <div class="property__component-wrap">
                    <div class="property__wraper__component">
                        <div class="property__component__img property__img-3"></div>
                        <span class="property__component__heading component__heading">Коммер&shy;ческая</span> 
                    </div>
                    <div class="property__wraper__component">
                        <div class="property__component__img property__img-4"></div>
                        <span class="property__component__heading component__heading">Земельный участок</span> 
                    </div>                 
                </div>

                <div class="property__component-wrap">
                    <div class="property__wraper__component ">
                        <div class="property__component__img property__img-5"></div>
                        <span class="property__component__heading component__heading">Индустрия</span> 
                    </div> 
                    <div class="property__wraper__component">
                        <div class="property__component__img property__img-6"></div>
                        <span class="property__component__heading component__heading">Замки</span> 
                    </div> 
                </div>

 
            </div>
        </div>
    </div>


    <div class="form section">
        <div class="container border__gray">
            <div class="form-container block-paddings">
                <div class="form__header block-header">
                    <h3 class="block-heading text-nowrap">поможем с выбором</h3>
                    <h3 class="block-heading block-heading_double-heading form__double-heading " >и ответим на вопросы</h3>
                </div>
                <p class="form__description">Cвяжитесь с нами для бесплатной консультации. Наша команда экспертов ответит Вам любым выбранным способом.</p>
                <form class="contact-form contact-form_in-row form__contact-form" >
                    <div class="contact-form__inputs contact-form__inputs_in-row">
                        <input class="input" type="text" placeholder="Имя">
                        <input class="input input-wrap"  placeholder="Номер телефона или email">
                    </div> 
                    <button class="btn btn-red form__btn js-form-btn ">Отправить</button>
                    <ul class="list list_row form__list-social">
                        <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                        <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                        <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                    </ul>
                    <div class="d-flex-w-spase-between d-flex-h-end form__button-social">
                        <button class="btn btn-red js-form-btn">Отправить</button>
                        <ul class="list list_row">
                            <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                            <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                            <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                        </ul>
                    </div>
                </form>
            </div>   
        </div>
    </div>


    <div id="exclusive-offer" class="exclusive-offer section">
        <div class="container">
            <div class="exclusive-offer-conteiner">
                <div class="block-header">
                    <h3 class="block-heading">Эксклюзивные</h3>
                    <h3 class="block-heading block-heading_double-heading">Предложения</h3>
                </div>

                <div class="exclusive-offer-list">
                    <div class="exclusive-offer-list__content">
                        <div  class="exclusive-offer-item exclusive-offer-list__item">
                            <div class="exclusive-offer-item__img">
                                <img src="..\images\exclusive-offer-imgs\1.png" alt="Картинка">
                            </div>
                            <section class="exclusive-offer-item__content">
                                <span class="card__heading">Заголовок</span>
                                <p>Прежде всего высокотехнологичная концепция общественной системы обеспечивает.</p>
                                <a data-modal="exclusive-offer-modal-1" class="js-modal-open link link-red link-with-arrow ">Подробнее</a>
                            </section>
                        </div>
                        <div  class="exclusive-offer-item exclusive-offer-list__item">
                            <div class="exclusive-offer-item__img">
                                <img src="..\images\exclusive-offer-imgs\2.png" alt="Картинка">
                            </div>
                            <section class="exclusive-offer-item__content">
                                <span class="card__heading">Заголовок</span>
                                <p>Прежде всего высокотехнологичная концепция общественной системы обеспечивает .</p>
                                <a data-modal="exclusive-offer-modal-1" class="js-modal-open link link-red link-with-arrow ">Подробнее</a>
                            </section>
                        </div>
                        <div  class="exclusive-offer-item exclusive-offer-list__item">
                            <div class="exclusive-offer-item__img">
                                <img src="..\images\exclusive-offer-imgs\3.png" alt="Картинка">
                            </div>
                            <section class="exclusive-offer-item__content">
                                <span class="card__heading">Заголовок</span>
                                <p>Прежде всего высокотехнологичная концепция общественной системы обеспечивает.</p>
                                <a data-modal="exclusive-offer-modal-1" class=" js-modal-open link link-red link-with-arrow ">Подробнее</a>
                            </section>
                        </div>
                        <div  class="exclusive-offer-item exclusive-offer-list__item">
                            <div class="exclusive-offer-item__img">
                                <img src="..\images\exclusive-offer-imgs\4.png" alt="Картинка">
                            </div>
                            <section class="exclusive-offer-item__content">
                                <span class="card__heading">Заголовок</span>
                                <p>Прежде всего высокотехнологичная концепция общественной системы обеспечивает.</p>
                                <a data-modal="exclusive-offer-modal-1" class="js-modal-open link link-red link-with-arrow ">Подробнее</a>
                            </section>
                        </div>
                        <div  class="exclusive-offer-item exclusive-offer-list__item">
                            <div class="exclusive-offer-item__img">
                                <img src="..\images\exclusive-offer-imgs\5.png" alt="Картинка">
                            </div>
                            <section class="exclusive-offer-item__content">
                                <span class="card__heading">Заголовок</span>
                                <p>Прежде всего высокотехнологичная концепция общественной системы обеспечивает.</p>
                                <a data-modal="exclusive-offer-modal-1" class="js-modal-open link link-red link-with-arrow ">Подробнее</a>
                            </section>
                        </div>
                        <div  class="exclusive-offer-item exclusive-offer-list__item">
                            <div class="exclusive-offer-item__img">
                                <img src="..\images\exclusive-offer-imgs\6.png" alt="Картинка">
                            </div>
                            <section class="exclusive-offer-item__content">
                                <span class="card__heading">Заголовок</span>
                                <p>Прежде всего высокотехнологичная концепция общественной системы обеспечивает.</p>
                                <a data-modal="exclusive-offer-modal-1" class="js-modal-open link link-red link-with-arrow ">Подробнее</a>
                            </section>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="benefits section">
        <div class="container">
            <div class="benefits__header block-header">
                <h3 class="block-heading">преимущества</h3>
            </div>
            <div  class="benefits__wraper" >

                <div class="benefits__component-wrap">
                    <div class="benefits__wraper__component">
                        <div class="benefits__wraper__component__header"> 
                            <span  class="benefits__icon benefits__icon-1">
                            </span>
                            <span class="benefits__component__heading component__heading">Языки</span> 
                        </div>
                        <p class="benefits__component__text "> Мы говорим на всех национальных языках + английский и русский.</p>
                    </div>
                    <div class="benefits__wraper__component">
                        <div class="benefits__wraper__component__header"> 
                            <span  class="benefits__icon benefits__icon-2">
                            </span>
                            <span class="benefits__component__heading component__heading">Команда</span> 
                        </div>
                        <p class="benefits__component__text ">Состоит (консультируют) из действующих банкиров, налоговых специалистов, отельеров.</p>
                    </div>                       
                </div>

                <div class="benefits__component-wrap">
                    <div class="benefits__wraper__component">
                        <div class="benefits__wraper__component__header"> 
                            <span  class="benefits__icon benefits__icon-3">
                            </span>
                            <span class="benefits__component__heading component__heading">Локация</span> 
                        </div>
                        <p class="benefits__component__text ">Мы находимся в Швейцарии физически, знаем о всех новостях, особенностях и аспектах жизни. Следим за всеми изменениями рынка.</p>
                    </div>  
                    <div class="benefits__wraper__component">
                        <div class="benefits__wraper__component__header"> 
                            <span  class="benefits__icon benefits__icon-4">
                            </span>
                            <span class="benefits__component__heading component__heading">Сопровождение</span> 
                        </div>
                        <p class="benefits__component__text ">Оказываем полный спектор услуг, даже если они косвенно касаются сделки купли-продажи, ведем клиента после заключения сделки.</p>
                    </div>                               
                </div>

                <div class="benefits__component-wrap">
                    <div class="benefits__wraper__component">
                        <div class="benefits__wraper__component__header"> 
                            <span  class="benefits__icon benefits__icon-5">
                            </span>
                            <span class="benefits__component__heading component__heading">Опыт</span> 
                        </div>
                        <p class="benefits__component__text ">Мы сами прошли путь покупателя: покупка, переезд, ассимиляция. Мы знаем о сложностях и нуждах.</p>
                    </div>
                    <div class="benefits__wraper__component">
                        <div class="benefits__wraper__component__header"> 
                            <span  class="benefits__icon benefits__icon-6">
                            </span>
                            <span class="benefits__component__heading component__heading">Лояльность</span> 
                        </div>
                        <p class="benefits__component__text ">Работаем всегда только на стороне клиента. Индивидуальный подход, в соответствии с требованиями рынка и особенностями Швейцарии.</p>
                    </div>                
                </div>
     



 
            </div>
            
        </div>
    </div>


    <div id="question-answer" class="question-answer section">
        <div class="container">
                <div class="question-answer__borders">
                    <div class="question-answer__header block-header">
                        <h3 class="block-heading">вопрос-ответ</h3>
                    </div>
                    <div  class="question-answer__wraper  flex-column" > 

                        <div class="question-answer__component question-answer__component-active">
                            <div class="question-answer__question"> 
                                <span class="question">Могут ли граждане бывшего СССР покупать недвижимость в Швейцарии?</span> 
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>                   
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap question-answer__answer-wrap_active">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                        <div class="question-answer__component">
                            <div class="question-answer__question"> <span class="question">Можно ли получить ипотечный кредит на приобретение недвижимости?</span> 
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap ">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                        <div class="question-answer__component">
                            <div class="question-answer__question"> <span class="question">Какие дополнительные расходы возникают при покупке объектов недвижимости?</span>
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>                                  
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap ">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                        <div class="question-answer__component">
                            <div class="question-answer__question"> <span class="question">Какова ежегодная стоимость владения объектом недвижимости?</span> 
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap ">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                        <div class="question-answer__component">
                            <div class="question-answer__question"> <span class="question">Можно ли сдавать недвижимость в аренду или перепродавать с наценкой?</span> 
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap ">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                        <div class="question-answer__component">
                            <div class="question-answer__question"> <span class="question">Какой уровень доходности можно ожидать от инвестиций в швейцарскую недвижимость?</span> 
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>    
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap ">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                        <div class="question-answer__component">
                            <div class="question-answer__question"> <span class="question">Какие права и преимущества даёт недвижимость при получении ВНЖ или гражданства?</span> 
                                <div class="question__icon">
                                    <div class="icon-cross-20">
                                        <span class="icon-cross__top"></span>
                                        <span class="icon-cross__bottom"></span>
                                    </div>    
                                </div>
                            </div>
                            <div class="question-answer__answer-wrap ">
                                <p class="question-answer__answer">Да, могут. Жилую недвижимость можно покупать только в определенных туристических зонах, размер жилой площади не более 200м<sup><small>2</small></sup>, площадь земельного участка не более 1000м<sup><small>2</small></sup>. На покупку отелей и коммерческой недвижимости ограничений нет. Подробнее можно узнать в нашей брошюре.</p>   
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>


    <div id="about-us" class="about-us section">
        <div class="container">
            <div class="about-us___header block-header">
                <h3 class="block-heading">о нас</h3>
            </div>
            <div class="about-us__wraper">
                <span class="about-us__img"></span>
                <div class="about-us__text">
                    <span class="about-us__name component__heading">Евгений Миронов</span> 
                    <span class="text-color_accent">Директор</span>
                    <p class="about-us__description">Евгений Миронов- основатель компании Winwinter. Образование: Hotel Institute Montreux. Владелец отеля, жилой и коммерческой недвижимости. Будучи инвестором и покупателем, досконально изучил рынок, выявил его особенности, сложные стороны и потребности со стороны клиента. Все наши партнёры — квалифицированные специалисты, работающие на рынке недвижимости много лет и знающие его как свои пять пальцев.</p>
                    <p class="about-us__quote">«Швейцария — это сложно, но можно!»</p>
                </div>
            </div>
        </div>
    </div>



    <div  class="contacts">
        <div class="container container-off">
            <div class="contacts__header block-header container-paddings">
                <h3 class="block-heading">Контакты</h3>
            </div>
            <div class="contacts-wraper ">
                <div id="contacts" class="contacts__information container-paddings">
                    <div class="phone phone_row">
                        <span class="phone__number">+7 (999) 234 56 78</span>
                        <span class="phone__time text-color_grey p">Пн – Сб  с 10:00 до 19:00</span>
                    </div>
                    <span class="mail">info@gmail.com</span>
                    <ul class="list list_row">
                        <li><a href="" class="social-icon telegram"> </a></li>
                        <li><a href="" class="social-icon instagram"> </a></li>
                        <li><a href="" class="social-icon whatsapp"> </a></li> 
                </div>
                <div class="contacts__menu menu-nav_footer container-paddings">
                    <ul class="list list_column contacts__menu-ul">
                        <li><a href="/#services" class="link-grey js-smooth-scroll">Услуги</a></li>
                        <li><a class="link-grey js-smooth-scroll" href="/#app">Квиз</a></li>
                        <li><a href="/#exclusive-offer" class="link-grey js-smooth-scroll">Эксклюзив</a></li>
                        <li><a href="/#about-us" class="link-grey js-smooth-scroll">О нас</a></li>
                    </ul>
                    <ul class="list list_column contacts__menu-ul">
                        <li><a href="/transaction-stages.html" class="link-grey ">Информация</a></li>
                        <li><a href="/#question-answer" class="link-grey js-smooth-scroll">F&Q</a></li>
                        <li><a href="/#contacts" class="link-grey js-smooth-scroll">Контакты</a></li>
                    </ul>
                </div>
                <form class="contacts__form ">
                    <div class="container-paddings">
                        <div class=" contact-form contact-form_in-column block-paddings ">
                            <span class="component__heading">Если у вас остались вопросы, оставьте заявку и мы свяжемся с вами</span> 
                            <div class="contacts__form__inputs contact-form__inputs contact-form__inputs_in-column">
                                <input class="input" type="text" placeholder="Имя">
                                <input class="input input-wrap"  placeholder="Номер телефона или email">
                            </div> 
                            <button class="btn btn-red js-form-btn">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    {# modal windows #}

        
{% endblock %}
