{% set title = "Этапы сделки" %}
{% set activ_page = "transaction-stages"%} 

{% extends './_layout.njk' %}

{% block content %}

    <div class="transaction-stages section">
        <div class="container">
            <div class="block-header">
                <h3 class="block-heading">Этапы сделки</h3>
            </div>
            <div class="transaction-stages__content">
                <ul class="transaction-stages-list">
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">01</span>
                                <h3 class="transaction-stages-item__heading component__heading">Знакомство</h3>
                            </div>
                            <p class="transaction-stages-item__text">Определить статус клиентоа (род деятельности, гражданство, место жительства, наличие банковских счетов в Европе).</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">02</span>
                                <h3 class="transaction-stages-item__heading component__heading">Выявление потребностей</h3>
                            </div>
                            <p class="transaction-stages-item__text">Определяем предмет инвестирования (жилье, коммерция, отель, земля), цель (прибыть, сохранение капитала, переезд), локацию и бюджет.</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">03</span>
                                <h3 class="transaction-stages-item__heading component__heading">Подписание договора</h3>
                            </div>
                            <p class="transaction-stages-item__text">Подписываем договор на услуги 3%.</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">04</span>
                                <h3 class="transaction-stages-item__heading component__heading">Презентация</h3>
                            </div>
                            <p class="transaction-stages-item__text">Знакомим вас с рынком, собираем документацию, заинтересовавших объектов и формируем список для просмотров.</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">05</span>
                                <h3 class="transaction-stages-item__heading component__heading">Организация просмотров</h3>
                            </div>
                            <p class="transaction-stages-item__text">Показываем объекты и даем всю необходимую дополнительную информацию. При необходимости посещяем: банк, налогового консультанта, дизайнерскую студию и нотариуса.</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">06</span>
                                <h3 class="transaction-stages-item__heading component__heading">Выбор объекта<br>и предложение о покупке</h3>
                            </div>
                            <p class="transaction-stages-item__text">Готовим письменное предложение, согласовываем цены и сроки и запускае процесс купли-продажи.</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">07</span>
                                <h3 class="transaction-stages-item__heading component__heading">Договор купли-продажи</h3>
                            </div>
                            <p class="transaction-stages-item__text">При необходимости предоставляем переводчика на сделку и заключаем договор.</p>
                        </div>
                    </li>
                    <li class="transaction-stages-item">
                        <div class="transaction-stages-item__content">
                            <div class="transaction-stages-item__header">
                                <span class="transaction-stages-item__number text-color_accent component__heading">08</span>
                                <h3 class="transaction-stages-item__heading component__heading">Ведение после сделки</h3>
                            </div>
                            <p class="transaction-stages-item__text">Выявляем новые потребности и потенциально интересные объекты для будущего.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


   <div class="form section">
        <div class="container border__gray">
            <div class="form-container block-paddings">
                <div class="form__header block-header">
                    <h3 class="block-heading text-nowrap">поможем с выбором</h3>
                    <h3 class="block-heading block-heading_double-heading form__double-heading " >и ответим на вопросы</h3>
                </div>
                <p class="form__description">Cвяжитесь с нами для бесплатной консультации. Наша команда экспертов ответит Вам любым выбранным способом.</p>
                <form class="contact-form contact-form_in-row form__contact-form" >
                    <div class="contact-form__inputs contact-form__inputs_in-row">
                        <input class="input" type="text" placeholder="Имя">
                        <input class="input input-wrap"  placeholder="Номер телефона или email">
                    </div> 
                    <button class="btn btn-red form__btn js-form-btn ">Отправить</button>
                    <ul class="list list_row form__list-social">
                        <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                        <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                        <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                    </ul>
                    <div class="d-flex-w-spase-between d-flex-h-end form__button-social">
                        <button class="btn btn-red js-form-btn">Отправить</button>
                        <ul class="list list_row">
                            <li><a href="" class="social-icon social-icon_45 telegram"> </a></li>
                            <li><a href="" class="social-icon social-icon_45 instagram"> </a></li>
                            <li><a href="" class="social-icon social-icon_45 whatsapp"> </a></li> 
                        </ul>
                    </div>
                </form>
            </div>   
        </div>
    </div>

    
    {% include "./components/menu_bottom.njk" %}
    
{% endblock %}
