<template>
    <div class="mb-5">
        <pre style="overflow-y: scroll;max-height: 200px" class="d-flex d-flex-w-space-between"><code style="width: 50%">{{variant}}</code><code style="width: 50%">{{stateManager}}</code></pre>

        <input type="number" v-model="visualStep.step">

        <select v-model="visualStep.action">
            <option v-for="(action, index) in visualStep.stepActions" :key="`action-${index}`" :value="action">{{action}}</option>
        </select>
        <select v-model="visualStep.view">
            <option v-for="(view, index) in visualStep.stepViews" :key="`view-${index}`" :value="view">{{view}}</option>
        </select>
    </div>
</template>

<script>
    export default {
        name: "AppDebug",
        props: {
            variant: {
                type: Object,
            },
            stateManager: {
                type: Object
            }
        },
        data: () => ({
            visualStep: {
                step: 1,
                action: '',
                view: '',
                // step: null,
                // action: null,
                // view: null,
                stepActions: [null, 'buy', 'sell', 'rent'],
                stepViews: [null, 'living', 'house', 'hotel', 'region', 'other']
            }
        }),
        watch: {
            visualStep: {
                handler () {
                    this.activeStepHandler()
                },
                deep: true
            }
        },
        methods: {
            activeStepHandler () {
                const {visualStep} = this
                this.$emit('activeStep', {visualStep})
            }
        },
        created () {
            setTimeout(() => this.activeStepHandler(), 500)
        }
    }
</script>
