<template>
    <div>
        <h1 class="quiz-title font-bebas-neue">{{title}}</h1>
        <div class="quiz-nav__container d-flex d-flex-w-space-between d-flex-h-center">
            <p class="quiz-state font-bebas-neue">
                <span class="quiz-state__current">{{currentState}}</span>
                {{from}}
                <span class="quiz-state__all">{{length}}</span>
            </p>
            <div class="quiz-subtitle">{{subtitle}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppHeader",
        props: {
            stepBody: {
                type: Object
            },
            state: {
                type: Number
            },
            lengthState: {
                type: Number,
                default: 6
            }
        },
        inject: ['lang'],
        computed: {
            from () {
              return this.lang() === 'en' ? 'from' : 'из'
            },
            title () {
                return this.lang() === 'en' ? this.stepBody?.titleEn ?? this.stepBody.title : this.stepBody.title
            },
            subtitle () {
                return this.lang() === 'en' ? this.stepBody?.subtitleEn ?? this.stepBody.subtitle : this.stepBody.subtitle;
            },
            currentState () {
                const {state} = this

                return state >= 10 ? state : `0${state}`
            },
            length () {
                const {lengthState} = this

                return lengthState >= 10 ? lengthState : `0${lengthState}`
            }
        }
    }
</script>
