<template>
    <div class="ui-label">
        {{label}}
         <input
            v-if="type !== 'textarea'"
            :class="classInput"
            checked
            :disabled="disabled"
            :type="type"
            :placeholder="placeholder"
            :name="nameInput"
            :value="value"
            @input="onInput"
            @change="onChange"
         />
         <textarea
             v-if="type === 'textarea'"
             class="ui-textareat"
             :name="nameInput"
             :placeholder="placeholder"
             @input="onInput"
             @change="onChange"
         >{{value}}</textarea>
    </div>
</template>

<script lang="ts">
    import Component from "vue-class-component";
    import {UiInputProps} from "@main/vue/components/FormComponent/compoments/ui-input-props";

    @Component
    export default class UiInput extends UiInputProps {
        get nameInput(): string {
            return this.name.toLocaleLowerCase()
        }

        get classInput() {
            const {isBorder, type} = this

            return {
                'ui-input-border': isBorder,
                'input': type !== 'checkbox' && !isBorder
            }
        }

        onInput(event: {target: HTMLInputElement}) {
            this.$emit('input', event.target.value);
        }

        onChange(event: {target: HTMLInputElement}) {
            this.$emit('change', event.target.value);
        }
    }
</script>
