<script>
    import {ActiveAttribute, DefaultAttribute} from "@main/vue/components/MapComponent/utils/svg/utils/constants";
    import {assignAnActiveNode} from "@main/vue/components/MapComponent/utils/svg/utils/utils";


    export default {
        name: "map-base",
        static: {
            nodesRegions: [],
            ActiveAttribute,
            DefaultAttribute
        },
        data: () => ({
           active: '',
        }),
        mounted() {
            this.loadComponent()
        },
        methods: {
            selectRegions(e) {
                const {target} = e
                const {ActiveAttribute: activeAttribute = {}, DefaultAttribute: defaultAttribute = {}, nodesRegions : nodes} = this.$options.static
                assignAnActiveNode(target, {activeAttribute, defaultAttribute, nodes})
            },
            loadComponent() {
                const nodeRegions = [...document.querySelectorAll('g path[data-name]')]
                nodeRegions.forEach(region => region.addEventListener('click', this.selectRegions))
                this.$options.static.nodesRegions = nodeRegions;
            }
        }
    }
</script>
<style lang="scss" scoped>
    [data-name] {
        cursor: pointer;
        transition: 0.15s;
        &.active {
            position: relative;
        }
        &:hover {
            stroke-width: 1px;
            stroke: #174a6c !important;
            box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
        }
    }

    >>> .quiz-variants li {
        margin: 0;
    }
</style>
