// Медиа запросы. Использование: @include media($md) {styles}
@mixin media($breakpoint) {
    @if $breakpoint == all {
        @media screen {
            @content;
        }
    }

    @else if $breakpoint != all {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}

// Подключение шрифтов
// Пример использования: @include import-font('Font', 'Font-Regular', 'Font Regular', normal, normal);
@mixin fontface($family, $localname, $localname2, $filename, $weight, $style) {
    @font-face {
        font-display: swap;
        font-family: $family;
        src: local('#{$localname}'),
            local('#{$localname2}'),
            url('../fonts/#{$filename}.otf') format('opentype'),
            url('../fonts/#{$filename}.woff') format('woff'),
            url('../fonts/#{$filename}.ttf') format('truetype'),
            url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
            ;
            
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin scrollbar() {
    scrollbar-width: thin;
    scrollbar-color: $black-30;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;

        &-button {
            width: 0px;
            height: 0px;
        }
        &-thumb {
            background: $black-30;
            border: 0px none $white-basic;
            border-radius: 6px;
        }
        &-track {
            background: $black-10;
            border: 0px none $white-basic;
            border-radius: 0;
        }
        &-corner {
            background: transparent;
        }
    }
}

// Анимация по-умолчанию
@mixin css_anim($time: .25s, $item: all, $style: ease) {
    transition: $item $style $time;

    &:hover {
        transition: $item $style $time;
    }
}

// Анимация по-умолчанию
@mixin css_anim_entrance($item: entrance-30, $time: 1s, $style: cubic-bezier(.5,.1,.2,1), $delay: 0s) {
    animation: $item $time $style;
    animation-fill-mode: both;
    animation-delay: $delay;
}

// Создание пустого блока
@mixin empty-block($width, $height: $width, $display: block) {
    content: '';
    display: $display;
    width: $width;
    height: $height;
}

// Необходимые стили для картинок на заднем фоне
@mixin img-back($size: cover, $posX: center, $posY: center, $repeat: no-repeat) {
    background-size: $size;
    background-position: $posX;
    background-position-y: $posY;
    background-repeat: $repeat;
}

// Ширина контента по-умолчанию. Значения указаны для примера - при создании нового проекта подставьте свои.
// Вы можете использовать margin вместо padding.
// Padding удобнее для последующего размещения какого-то элемента в абсолютном позиционировании внутри этого блока.
@mixin content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @include media($md) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include media($xl) {
        padding-left: calc(50% - 1140px / 2);
        padding-right: calc(50% - 1140px / 2);
    }
}
