// Точки медиа запросов
$sm: 560px;
$sm1: 561px;
$md: 768px;
$md1: 769px;
$lg: 1024px;
$lg1: 1025px;
$xl: 1440px;
$xl1: 1441px;
$xxl: 1920px;
$maxWidth: 1554px;
$mediaModalWidth: 890px;

// Цвета
$white-basic: #FFFFFF;
$black-basic: #4E4E4E;
$blue-basic: #62a1ce;
$accent-color: #C32F2F;
$accent-color_active: #B71616;
$gray-basic: #DDDDDD;
$gray-light: #ECECEC;
$gray-input:#939393;
$bg-color:  #F6F6F6;
$white-50: #F8F8F8;
$white-70: #D4DBFB;
$black-05: #F4F4F4;
$black-10: #E9E9E9;
$black-15: #DEDEDE;
$black-20: #D4D4D4;
$black-30: #BEBEBE;
$black-40: #A8A8A8;
$black-50: #939393;
$black-60: #7D7D7D;
$black-70: #676767;
$black-80: #525252;
$black-90: #3C3C3C;
$blue-15: #DBE0FD;
$purple-bg:  #ECEFFD;
$purple-bg2:  #E0E4F4;
$purple-light: #868BA6;
$purple-light2: #9CA0B5;
$purple-black:  #303651;
$yellow-basic: #ECF520;
$red: #EB474A;

// Пути
$imgPath: '../images/';

//Шрифты
$mainFont: 'Inter', sans-serif;
$headingFont: 'BebasNeue', sans-serif;

//расстояния

$section-margin: 200px;


